<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.order.OrderExtWaterMapper">
	<resultMap id="BaseResultMap" type="com.simi.po.model.order.OrderExtWater">
		<id column="id" property="id" jdbcType="NUMERIC" />
		<result column="order_id" property="orderId" jdbcType="NUMERIC" />
		<result column="order_no" property="orderNo" jdbcType="VARCHAR" />
		<result column="order_ext_status" property="orderExtStatus" jdbcType="NUMERIC" />
		<result column="user_id" property="userId" jdbcType="NUMERIC" />
		<result column="service_price_id" property="servicePriceId" jdbcType="NUMERIC" />
		<result column="service_num" property="serviceNum" jdbcType="SMALLINT" />
		<result column="link_man" property="linkMan" jdbcType="VARCHAR" />
		<result column="link_tel" property="linkTel" jdbcType="VARCHAR" />
		<result column="is_done" property="isDone" jdbcType="NUMERIC" />
		<result column="is_done_time" property="isDoneTime" jdbcType="NUMERIC" />
		<result column="add_time" property="addTime" jdbcType="NUMERIC" />
	</resultMap>
	<sql id="Base_Column_List">
		id, order_id, order_no, order_ext_status, user_id, service_price_id, service_num, link_man, link_tel,
		is_done, is_done_time, add_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from order_ext_water
		where id = #{id,jdbcType=NUMERIC}
	</select>

	<select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from order_ext_water
		where order_id = #{orderId,jdbcType=NUMERIC}
	</select>

	<select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from order_ext_water
		where user_id = #{userId,jdbcType=NUMERIC}
		order by add_time desc
	</select>

	<select id="selectByListPage" resultMap="BaseResultMap" parameterType="com.simi.vo.OrderSearchVo">
		select
		<include refid="Base_Column_List" />
		from order_ext_water
		where 1=1
		<if test="userId != null">
			and user_id = #{userId,jdbcType=NUMERIC}
		</if>

		<if test="orderNo != null">
			and order_no like CONCAT('%','${orderNo}','%' )
		</if>
		
		<if test="orderStatusIN != null">
			and order_id in (select order_id from orders where user_id = #{userId,jdbcType=NUMERIC} and service_type_id = #{serviceTypeId,jdbcType=NUMERIC})
		</if>
		
		order by add_time desc
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from order_ext_water
		where id = #{id,jdbcType=NUMERIC}
	</delete>
	<insert id="insert" parameterType="com.simi.po.model.order.OrderExtWater">
		insert into order_ext_water (id, order_id, order_no, order_ext_status,
		user_id, service_price_id, service_num,
		link_man, link_tel, is_done, is_done_time, add_time
		)
		values (#{id,jdbcType=NUMERIC}, #{orderId,jdbcType=NUMERIC}, #{orderNo,jdbcType=VARCHAR},
		#{orderExtStatus,jdbcType=NUMERIC},
		#{userId,jdbcType=NUMERIC}, #{servicePriceId,jdbcType=NUMERIC}, #{serviceNum,jdbcType=SMALLINT},
		#{linkMan,jdbcType=VARCHAR}, #{linkTel,jdbcType=VARCHAR},
		#{isDone,jdbcType=NUMERIC}, #{isDoneTime,jdbcType=NUMERIC}, #{addTime,jdbcType=NUMERIC}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.simi.po.model.order.OrderExtWater">
		insert into order_ext_water
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="orderId != null">
				order_id,
			</if>
			<if test="orderNo != null">
				order_no,
			</if>
			<if test="orderExtStatus != null">
				order_ext_status,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="servicePriceId != null">
				service_price_id,
			</if>
			<if test="serviceNum != null">
				service_num,
			</if>
			<if test="linkMan != null">
				link_man,
			</if>
			<if test="linkTel != null">
				link_tel,
			</if>
			<if test="isDone != null">
				is_done,
			</if>
			<if test="isDoneTime != null">
				is_done_time,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=NUMERIC},
			</if>
			<if test="orderId != null">
				#{orderId,jdbcType=NUMERIC},
			</if>
			<if test="orderNo != null">
				#{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="orderExtStatus != null">
				#{orderExtStatus,jdbcType=NUMERIC},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=NUMERIC},
			</if>
			<if test="servicePriceId != null">
				#{servicePriceId,jdbcType=NUMERIC},
			</if>
			<if test="serviceNum != null">
				#{serviceNum,jdbcType=SMALLINT},
			</if>
			<if test="linkMan != null">
				#{linkMan,jdbcType=VARCHAR},
			</if>
			<if test="linkTel != null">
				#{linkTel,jdbcType=VARCHAR},
			</if>
			<if test="isDone != null">
				#{isDone,jdbcType=NUMERIC},
			</if>
			<if test="isDoneTime != null">
				#{isDoneTime,jdbcType=NUMERIC},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.order.OrderExtWater">
		update order_ext_water
		<set>
			<if test="orderId != null">
				order_id = #{orderId,jdbcType=NUMERIC},
			</if>
			<if test="orderNo != null">
				order_no = #{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="orderExtStatus != null">
				order_ext_status = #{orderExtStatus,jdbcType=NUMERIC},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=NUMERIC},
			</if>
			<if test="servicePriceId != null">
				service_price_id = #{servicePriceId,jdbcType=NUMERIC},
			</if>
			<if test="serviceNum != null">
				service_num = #{serviceNum,jdbcType=SMALLINT},
			</if>
			<if test="linkMan != null">
				link_man = #{linkMan,jdbcType=VARCHAR},
			</if>
			<if test="linkTel != null">
				link_tel = #{linkTel,jdbcType=VARCHAR},
			</if>
			<if test="isDone != null">
				is_done = #{isDone,jdbcType=NUMERIC},
			</if>
			<if test="isDoneTime != null">
				is_done_time = #{isDoneTime,jdbcType=NUMERIC},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=NUMERIC},
			</if>
		</set>
		where id = #{id,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.simi.po.model.order.OrderExtWater">
		update order_ext_water
		set order_id = #{orderId,jdbcType=NUMERIC},
		order_no = #{orderNo,jdbcType=VARCHAR},
		order_ext_status = #{orderExtStatus,jdbcType=NUMERIC},
		user_id = #{userId,jdbcType=NUMERIC},
		service_price_id = #{servicePriceId,jdbcType=NUMERIC},
		service_num =
		#{serviceNum,jdbcType=SMALLINT},
		link_man = #{linkMan,jdbcType=VARCHAR},
		link_tel = #{linkTel,jdbcType=VARCHAR},
		is_done = #{isDone,jdbcType=NUMERIC},
		is_done_time = #{isDoneTime,jdbcType=NUMERIC},
		add_time = #{addTime,jdbcType=NUMERIC}
		where id = #{id,jdbcType=NUMERIC}
	</update>
</mapper>