<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.order.OrderExtGreenMapper" >
  <resultMap id="BaseResultMap" type="com.simi.po.model.order.OrderExtRecycle" >
    <id column="id" property="id" jdbcType="NUMERIC" />
    <result column="order_id" property="orderId" jdbcType="NUMERIC" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="order_ext_status" property="orderExtStatus" jdbcType="NUMERIC" />
    <result column="recycle_type" property="recycleType" jdbcType="NUMERIC" />
    <result column="user_id" property="userId" jdbcType="NUMERIC" />
    <result column="mobile" property="mobile" jdbcType="CHAR" />
    <result column="total_num" property="totalNum" jdbcType="NUMERIC" />
    <result column="total_budget" property="totalBudget" jdbcType="DECIMAL" />
    <result column="add_time" property="addTime" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, order_no,order_ext_status,recycle_type, user_id, mobile, total_num, total_budget, add_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order_ext_recycle
    where id = #{id,jdbcType=NUMERIC}
  </select>
  
  <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order_ext_recycle
    where order_id = #{orderId,jdbcType=NUMERIC}
  </select>
  
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order_ext_recycle
    where user_id = #{userId,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order_ext_recycle
    where id = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.simi.po.model.order.OrderExtRecycle" >
    insert into order_ext_recycle (id, order_id, order_no, order_ext_status,recycle_type,
      user_id, mobile, total_num, 
      total_budget, add_time)
    values (#{id,jdbcType=NUMERIC}, #{orderId,jdbcType=NUMERIC}, #{orderNo,jdbcType=VARCHAR}, 
     #{orderExtStatus,jdbcType=NUMERIC}, #{recycleType,jdbcType=NUMERIC},
      #{userId,jdbcType=NUMERIC}, #{mobile,jdbcType=CHAR}, #{totalNum,jdbcType=NUMERIC}, 
      #{totalBudget,jdbcType=DECIMAL}, #{addTime,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.simi.po.model.order.OrderExtRecycle" >
    insert into order_ext_recycle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
       
    <if test="orderExtStatus != null" >
        order_ext_status,
      </if>
      <if test="recycleType != null" >
        recycle_type,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="totalNum != null" >
        total_num,
      </if>
      <if test="totalBudget != null" >
        total_budget,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=NUMERIC},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      
    <if test="orderExtStatus != null" >
        #{orderExtStatus,jdbcType=NUMERIC},
      </if>
      <if test="recycleType != null" >
        #{recycleType,jdbcType=NUMERIC},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=NUMERIC},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=CHAR},
      </if>
      <if test="totalNum != null" >
        #{totalNum,jdbcType=NUMERIC},
      </if>
      <if test="totalBudget != null" >
        #{totalBudget,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.order.OrderExtRecycle" >
    update order_ext_recycle
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=NUMERIC},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
    <if test="orderExtStatus != null" >
       order_ext_status = #{orderExtStatus,jdbcType=NUMERIC},
      </if>
      <if test="recycleType != null" >
       recycle_type =  #{recycleType,jdbcType=NUMERIC},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=NUMERIC},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=CHAR},
      </if>
      <if test="totalNum != null" >
        total_num = #{totalNum,jdbcType=NUMERIC},
      </if>
      <if test="totalBudget != null" >
        total_budget = #{totalBudget,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=NUMERIC},
      </if>
    </set>
    where id = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simi.po.model.order.OrderExtRecycle" >
    update order_ext_recycle
    set order_id = #{orderId,jdbcType=NUMERIC},
      order_no = #{orderNo,jdbcType=VARCHAR},
      order_ext_status = #{orderExtStatus,jdbcType=NUMERIC},
      recycle_type =  #{recycleType,jdbcType=NUMERIC},
      user_id = #{userId,jdbcType=NUMERIC},
      mobile = #{mobile,jdbcType=CHAR},
      total_num = #{totalNum,jdbcType=NUMERIC},
      total_budget = #{totalBudget,jdbcType=DECIMAL},
      add_time = #{addTime,jdbcType=NUMERIC}
    where id = #{id,jdbcType=NUMERIC}
  </update>
</mapper>