<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.feed.FeedCommentMapper">
	<resultMap id="BaseResultMap" type="com.simi.po.model.feed.FeedComment">
		<id column="id" property="id" jdbcType="NUMERIC" />
		<result column="fid" property="fid" jdbcType="NUMERIC" />
		<result column="user_id" property="userId" jdbcType="NUMERIC" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="add_time" property="addTime" jdbcType="NUMERIC" />
	</resultMap>
	<sql id="Base_Column_List">
		id, fid, user_id, comment, add_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from feed_comment
		where id = #{id,jdbcType=NUMERIC}
	</select>
	
	<select id="selectByListPage" resultMap="BaseResultMap"
		parameterType="com.simi.vo.feed.FeedSearchVo">
		select
		<include refid="Base_Column_List" />
		from feed_comment
		where 1 = 1
		<if test="fid != null">
			and fid = #{fid,jdbcType=NUMERIC}
		</if>
		order by add_time desc
	</select>	
	
	<select id="totalByFid" resultType="java.lang.Integer" parameterType="java.lang.Long">
		select count(*)
		from feed_comment
		where  fid = #{fid,jdbcType=NUMERIC}
	</select>	
	
	<select id="totalByFids" resultType="java.util.HashMap" parameterType="java.util.List">
		select fid, count(*) as total
		from feed_comment
	    where fid in
	 	<foreach item="item" index="index" collection="list"
	             open="(" separator="," close=")">
	        #{item}
	    </foreach>
	    group by fid
	    order by fid desc
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from feed_comment
		where id = #{id,jdbcType=NUMERIC}
	</delete>
	
	<delete id="deleteByFid" parameterType="java.lang.Long">
		delete from feed_comment
		where fid = #{fid,jdbcType=NUMERIC}
	</delete>
	
	<insert id="insert" parameterType="com.simi.po.model.feed.FeedComment">
		insert into feed_comment (id, fid, user_id,
		comment, add_time)
		values (#{id,jdbcType=NUMERIC}, #{fid,jdbcType=NUMERIC},
		#{userId,jdbcType=NUMERIC},
		#{comment,jdbcType=VARCHAR}, #{addTime,jdbcType=NUMERIC})
	</insert>
	<insert id="insertSelective" parameterType="com.simi.po.model.feed.FeedComment">
		insert into feed_comment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="fid != null">
				fid,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="comment != null">
				comment,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=NUMERIC},
			</if>
			<if test="fid != null">
				#{fid,jdbcType=NUMERIC},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=NUMERIC},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.feed.FeedComment">
		update feed_comment
		<set>
			<if test="fid != null">
				fid = #{fid,jdbcType=NUMERIC},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=NUMERIC},
			</if>
			<if test="comment != null">
				comment = #{comment,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=NUMERIC},
			</if>
		</set>
		where id = #{id,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.simi.po.model.feed.FeedComment">
		update feed_comment
		set fid = #{fid,jdbcType=NUMERIC},
		user_id = #{userId,jdbcType=NUMERIC},
		comment =
		#{comment,jdbcType=VARCHAR},
		add_time = #{addTime,jdbcType=NUMERIC}
		where id = #{id,jdbcType=NUMERIC}
	</update>
</mapper>