<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.user.UserRemindsMapper" >
  <resultMap id="BaseResultMap" type="com.simi.po.model.user.UserReminds" >
    <id column="id" property="id" jdbcType="NUMERIC" />
    <result column="user_id" property="userId" jdbcType="NUMERIC" />
    <result column="mobile" property="mobile" jdbcType="CHAR" />
    <result column="remind_title" property="remindTitle" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="DATE" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="cycle_type" property="cycleType" jdbcType="NUMERIC" />
    <result column="crond" property="crond" jdbcType="VARCHAR" />
    <result column="remind_to_name" property="remindToName" jdbcType="VARCHAR" />
    <result column="remind_to_mobile" property="remindToMobile" jdbcType="CHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="is_executed" jdbcType="NUMERIC" property="isExecuted" />
    <result column="last_executed" jdbcType="NUMERIC" property="lastExecuted" />
    <result column="add_time" property="addTime" jdbcType="NUMERIC" />
    <result column="update_time" property="updateTime" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, mobile, remind_title, start_date, start_time, cycle_type, crond, remind_to_name,
    remind_to_mobile, remarks, is_executed, last_executed, add_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from user_reminds
    where id = #{id,jdbcType=NUMERIC}
  </select>
  <!--add by kerry@2014-12-2  -->
  <select id="selectByMobile" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user_reminds
    where mobile = #{mobile,jdbcType=VARCHAR}
  </select>
 <!--add by kerry@2014-12-2  -->
  <select id="queryByCycleAndExcute" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from user_reminds where id
    not in
    (select id
    from user_reminds where cycle_type = 0
    and is_executed = 1
    )
  </select>
 <!--add by kerry@2014-12-9  -->
  <select id="queryAllReminds" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from user_reminds
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_reminds
    where id = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.simi.po.model.user.UserReminds" >
    insert into user_reminds (id, user_id, mobile,
      remind_title, start_date, start_time,
      cycle_type, crond, remind_to_name,
      remind_to_mobile, remarks, is_executed,
      last_executed, add_time,
      update_time)
    values (#{id,jdbcType=NUMERIC}, #{userId,jdbcType=NUMERIC}, #{mobile,jdbcType=CHAR},
      #{remindTitle,jdbcType=VARCHAR}, #{startDate,jdbcType=DATE}, #{startTime,jdbcType=VARCHAR},
      #{cycleType,jdbcType=NUMERIC}, #{crond,jdbcType=VARCHAR}, #{remindToName,jdbcType=VARCHAR},
      #{remindToMobile,jdbcType=CHAR}, #{remarks,jdbcType=VARCHAR}, #{isExecuted,jdbcType=NUMERIC},
      #{lastExecuted,jdbcType=NUMERIC}, #{addTime,jdbcType=NUMERIC},
      #{updateTime,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.simi.po.model.user.UserReminds" >
  	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID()
	</selectKey>
    insert into user_reminds
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="remindTitle != null" >
        remind_title,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="cycleType != null" >
        cycle_type,
      </if>
      <if test="crond != null" >
        crond,
      </if>
      <if test="remindToName != null" >
        remind_to_name,
      </if>
      <if test="remindToMobile != null" >
        remind_to_mobile,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="isExecuted != null">
        is_executed,
      </if>
      <if test="lastExecuted != null">
        last_executed,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=NUMERIC},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=CHAR},
      </if>
      <if test="remindTitle != null" >
        #{remindTitle,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=DATE},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="cycleType != null" >
        #{cycleType,jdbcType=NUMERIC},
      </if>
      <if test="crond != null" >
        #{crond,jdbcType=VARCHAR},
      </if>
      <if test="remindToName != null" >
        #{remindToName,jdbcType=VARCHAR},
      </if>
      <if test="remindToMobile != null" >
        #{remindToMobile,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="isExecuted != null">
        #{isExecuted,jdbcType=NUMERIC},
      </if>
      <if test="lastExecuted != null">
        #{lastExecuted,jdbcType=NUMERIC},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=NUMERIC},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective"   parameterType="com.simi.po.model.user.UserReminds" >
    update user_reminds
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=NUMERIC},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=CHAR},
      </if>
      <if test="remindTitle != null" >
        remind_title = #{remindTitle,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="cycleType != null" >
        cycle_type = #{cycleType,jdbcType=NUMERIC},
      </if>
      <if test="crond != null" >
        crond = #{crond,jdbcType=VARCHAR},
      </if>
      <if test="remindToName != null" >
        remind_to_name = #{remindToName,jdbcType=VARCHAR},
      </if>
      <if test="remindToMobile != null" >
        remind_to_mobile = #{remindToMobile,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="isExecuted != null">
        is_executed = #{isExecuted,jdbcType=NUMERIC},
      </if>
      <if test="lastExecuted != null">
        last_executed = #{lastExecuted,jdbcType=NUMERIC},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=NUMERIC},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=NUMERIC},
      </if>
    </set>
    where id = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simi.po.model.user.UserReminds" >
    update user_reminds
    set user_id = #{userId,jdbcType=NUMERIC},
      mobile = #{mobile,jdbcType=CHAR},
      remind_title = #{remindTitle,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=DATE},
      start_time = #{startTime,jdbcType=VARCHAR},
      cycle_type = #{cycleType,jdbcType=NUMERIC},
      crond = #{crond,jdbcType=VARCHAR},
      remind_to_name = #{remindToName,jdbcType=VARCHAR},
      remind_to_mobile = #{remindToMobile,jdbcType=CHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      is_executed = #{isExecuted,jdbcType=NUMERIC},
      last_executed = #{lastExecuted,jdbcType=NUMERIC},
      add_time = #{addTime,jdbcType=NUMERIC},
      update_time = #{updateTime,jdbcType=NUMERIC}
    where id = #{id,jdbcType=NUMERIC}
  </update>
</mapper>