<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.user.UserTrailRealMapper">
	<resultMap id="BaseResultMap" type="com.simi.po.model.user.UserTrailReal">
		<id column="id" property="id" jdbcType="NUMERIC" />
		<result column="user_id" property="userId" jdbcType="NUMERIC" />
		<result column="latitude" property="latitude" jdbcType="VARCHAR" />
		<result column="longitude" property="longitude" jdbcType="VARCHAR" />
		<result column="poi_name" property="poiName" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="add_time" property="addTime" jdbcType="NUMERIC" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, latitude, longitude, poi_name, city, add_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_trail_real
		where id = #{id,jdbcType=NUMERIC}
	</select>
	<select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_trail_real
		where user_id = #{userId,jdbcType=NUMERIC}
	</select>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user_trail_real
		where id = #{id,jdbcType=NUMERIC}
	</delete>
	<insert id="insert" parameterType="com.simi.po.model.user.UserTrailReal">
		insert into user_trail_real (id, user_id, latitude,
		longitude, poi_name, city,
		add_time)
		values (#{id,jdbcType=NUMERIC}, #{userId,jdbcType=NUMERIC}, #{latitude,jdbcType=VARCHAR},
		#{longitude,jdbcType=VARCHAR}, #{poiName,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
		#{addTime,jdbcType=NUMERIC})
	</insert>
	<insert id="insertSelective" parameterType="com.simi.po.model.user.UserTrailReal">
		insert into user_trail_real
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="latitude != null">
				latitude,
			</if>
			<if test="longitude != null">
				longitude,
			</if>
			<if test="poiName != null">
				poi_name,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=NUMERIC},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=NUMERIC},
			</if>
			<if test="latitude != null">
				#{latitude,jdbcType=VARCHAR},
			</if>
			<if test="longitude != null">
				#{longitude,jdbcType=VARCHAR},
			</if>
			<if test="poiName != null">
				#{poiName,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.user.UserTrailReal">
		update user_trail_real
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=NUMERIC},
			</if>
			<if test="latitude != null">
				latitude = #{latitude,jdbcType=VARCHAR},
			</if>
			<if test="longitude != null">
				longitude = #{longitude,jdbcType=VARCHAR},
			</if>
			<if test="poiName != null">
				poi_name = #{poiName,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=NUMERIC},
			</if>
		</set>
		where id = #{id,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.simi.po.model.user.UserTrailReal">
		update user_trail_real
		set user_id = #{userId,jdbcType=NUMERIC},
		latitude = #{latitude,jdbcType=VARCHAR},
		longitude = #{longitude,jdbcType=VARCHAR},
		poi_name = #{poiName,jdbcType=VARCHAR},
		city = #{city,jdbcType=VARCHAR},
		add_time = #{addTime,jdbcType=NUMERIC}
		where id = #{id,jdbcType=NUMERIC}
	</update>
</mapper>