<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.user.UserImLastMapper">
	<resultMap id="BaseResultMap" type="com.simi.po.model.user.UserImLast">
		<id column="id" property="id" jdbcType="NUMERIC" />
		<result column="from_user_id" property="fromUserId" jdbcType="NUMERIC" />
		<result column="to_user_id" property="toUserId" jdbcType="NUMERIC" />
		<result column="from_im_user" property="fromImUser" jdbcType="VARCHAR" />
		<result column="to_im_user" property="toImUser" jdbcType="VARCHAR" />
		<result column="msg_id" property="msgId" jdbcType="VARCHAR" />
		<result column="chat_type" property="chatType" jdbcType="VARCHAR" />
		<result column="im_content" property="imContent" jdbcType="VARCHAR" />
		<result column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="add_time" property="addTime" jdbcType="NUMERIC" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, from_user_id, to_user_id, from_im_user, to_im_user, msg_id, chat_type, im_content, uuid, add_time
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_im_last
		where id = #{id,jdbcType=NUMERIC}
	</select>
	
	<select id="selectBySearchVo" resultMap="BaseResultMap" parameterType="com.simi.vo.UserImLastSearchVo">
		select
		<include refid="Base_Column_List" />
		from user_im_last
		where 1=1
		<if test="fromUserId != null">
			and from_user_id = #{fromUserId,jdbcType=NUMERIC}
		</if>
		<if test="toUserId != null">
			and to_user_id = #{toUserId,jdbcType=NUMERIC}
		</if>
		order by add_time desc
	</select>
	
	<select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_im_last
		where from_user_id = #{fromUserId,jdbcType=NUMERIC}
		order by add_time desc
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user_im_last
		where id = #{id,jdbcType=NUMERIC}
	</delete>
	<insert id="insert" parameterType="com.simi.po.model.user.UserImLast">
		insert into user_im_last (id, from_user_id, to_user_id, from_im_user,
		to_im_user, msg_id, chat_type, 
		uuid, add_time, im_content
		)
		values (#{id,jdbcType=NUMERIC}, #{fromUserId,jdbcType=NUMERIC}, #{toUserId,jdbcType=NUMERIC}, #{fromImUser,jdbcType=VARCHAR},
		#{toImUser,jdbcType=VARCHAR}, #{msgId,jdbcType=VARCHAR}, #{chatType,jdbcType=VARCHAR},
		#{uuid,jdbcType=VARCHAR}, #{addTime,jdbcType=NUMERIC}, #{imContent,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.simi.po.model.user.UserImLast">
		insert into user_im_last
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="fromUserId != null">
				from_user_id,
			</if>
			<if test="toUserId != null">
				to_user_id,
			</if>
			<if test="fromImUser != null">
				from_im_user,
			</if>
			<if test="toImUser != null">
				to_im_user,
			</if>
			<if test="msgId != null">
				msg_id,
			</if>
			<if test="chatType != null">
				chat_type,
			</if>
			<if test="uuid != null">
				uuid,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="imContent != null">
				im_content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=NUMERIC},
			</if>
			<if test="fromUserId != null">
				#{fromUserId,jdbcType=NUMERIC},
			</if>
			<if test="toUserId != null">
				#{toUserId,jdbcType=NUMERIC},
			</if>
			<if test="fromImUser != null">
				#{fromImUser,jdbcType=VARCHAR},
			</if>
			<if test="toImUser != null">
				#{toImUser,jdbcType=VARCHAR},
			</if>
			<if test="msgId != null">
				#{msgId,jdbcType=VARCHAR},
			</if>
			<if test="chatType != null">
				#{chatType,jdbcType=VARCHAR},
			</if>
			<if test="uuid != null">
				#{uuid,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=NUMERIC},
			</if>
			<if test="imContent != null">
				#{imContent,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.user.UserImLast">
		update user_im_last
		<set>
			<if test="fromUserId != null">
				from_user_id = #{fromUserId,jdbcType=NUMERIC},
			</if>
			<if test="toUserId != null">
				to_user_id = #{toUserId,jdbcType=NUMERIC},
			</if>
			<if test="fromImUser != null">
				from_im_user = #{fromImUser,jdbcType=VARCHAR},
			</if>
			<if test="toImUser != null">
				to_im_user = #{toImUser,jdbcType=VARCHAR},
			</if>
			<if test="msgId != null">
				msg_id = #{msgId,jdbcType=VARCHAR},
			</if>
			<if test="chatType != null">
				chat_type = #{chatType,jdbcType=VARCHAR},
			</if>
			<if test="uuid != null">
				uuid = #{uuid,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=NUMERIC},
			</if>
			<if test="imContent != null">
				im_content = #{imContent,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.simi.po.model.user.UserImLast">
		update user_im_last
		set
		from_user_id = #{fromUserId,jdbcType=NUMERIC},
		to_user_id = #{toUserId,jdbcType=NUMERIC},
		from_im_user = #{fromImUser,jdbcType=VARCHAR},
		to_im_user = #{toImUser,jdbcType=VARCHAR},
		msg_id = #{msgId,jdbcType=VARCHAR},
		chat_type = #{chatType,jdbcType=VARCHAR},
		uuid = #{uuid,jdbcType=VARCHAR},
		add_time = #{addTime,jdbcType=NUMERIC},
		im_content = #{imContent,jdbcType=VARCHAR}
		where id = #{id,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.simi.po.model.user.UserImLast">
		update user_im_last
		set
		from_user_id = #{fromUserId,jdbcType=NUMERIC},
		to_user_id = #{toUserId,jdbcType=NUMERIC},
		from_im_user = #{fromImUser,jdbcType=VARCHAR},
		to_im_user = #{toImUser,jdbcType=VARCHAR},
		msg_id = #{msgId,jdbcType=VARCHAR},
		chat_type = #{chatType,jdbcType=VARCHAR},
		im_content = #{imContent,jdbcType=VARCHAR},
		uuid = #{uuid,jdbcType=VARCHAR},
		add_time = #{addTime,jdbcType=NUMERIC}
		where id = #{id,jdbcType=NUMERIC}
	</update>
</mapper>