<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.user.UserPushBindMapper">

	<resultMap id="BaseResultMap" type="com.simi.po.model.user.UserPushBind">
		<id column="id" property="id" jdbcType="NUMERIC" />
		<result column="user_id" property="userId" jdbcType="NUMERIC" />
		<result column="device_type" property="deviceType" jdbcType="VARCHAR" />
		<result column="client_id" property="clientId" jdbcType="VARCHAR" />
		<result column="add_time" property="addTime" jdbcType="NUMERIC" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, user_id, device_type, client_id, add_time
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_push_bind
		where id = #{id,jdbcType=NUMERIC}
	</select>
	
	<select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_push_bind
		where user_id = #{userId,jdbcType=NUMERIC}
	</select>
	
	<select id="selectByClientId" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_push_bind
		where user_id = #{1,jdbcType=NUMERIC}
	</select>
		
	<!--根据Ids查询Users -->
	<select id="selectByUserIds" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_push_bind
		where user_id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
		order by add_time asc
	</select>	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user_push_bind
		where id = #{id,jdbcType=NUMERIC}
	</delete>
	<insert id="insert" parameterType="com.simi.po.model.user.UserPushBind">
		insert into user_push_bind (id, user_id, device_type,
		client_id, add_time)
		values (#{id,jdbcType=NUMERIC}, #{userId,jdbcType=NUMERIC}, #{deviceType,jdbcType=VARCHAR},
		#{clientId,jdbcType=VARCHAR}, #{addTime,jdbcType=NUMERIC})
	</insert>
	<insert id="insertSelective" parameterType="com.simi.po.model.user.UserPushBind">
		insert into user_push_bind
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="deviceType != null">
				device_type,
			</if>
			<if test="clientId != null">
				client_id,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=NUMERIC},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=NUMERIC},
			</if>
			<if test="deviceType != null">
				#{deviceType,jdbcType=VARCHAR},
			</if>
			<if test="clientId != null">
				#{clientId,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.user.UserPushBind">
		update user_push_bind
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=NUMERIC},
			</if>
			<if test="deviceType != null">
				device_type = #{deviceType,jdbcType=VARCHAR},
			</if>
			<if test="clientId != null">
				client_id = #{clientId,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=NUMERIC},
			</if>
		</set>
		where id = #{id,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.simi.po.model.user.UserPushBind">
		update user_push_bind
		set user_id = #{userId,jdbcType=NUMERIC},
		device_type = #{deviceType,jdbcType=VARCHAR},
		client_id = #{clientId,jdbcType=VARCHAR},
		add_time = #{addTime,jdbcType=NUMERIC}
		where id = #{id,jdbcType=NUMERIC}
	</update>
</mapper>