<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.user.UserActionRecordMapper">
	<resultMap id="BaseResultMap" type="com.simi.po.model.user.UserActionRecord">
		<id column="id" property="id" jdbcType="NUMERIC" />
		<result column="user_id" property="userId" jdbcType="NUMERIC" />
		<result column="action_type" property="actionType" jdbcType="VARCHAR" />
		<result column="params" property="params" jdbcType="VARCHAR" />
		<result column="add_time" property="addTime" jdbcType="NUMERIC" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, action_type, params, add_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_action_record
		where id = #{id,jdbcType=NUMERIC}
	</select>
	
	<select id="selectBySearchVo" resultMap="BaseResultMap" parameterType="com.simi.vo.user.UserActionSearchVo">
		select
		<include refid="Base_Column_List" />
		from user_action_record
		where 1=1
		<if test="userId != null">
			and user_id = #{userId,jdbcType=NUMERIC}
		</if>

		<if test="actionType != null">
			and action_type =  #{actionType,jdbcType=VARCHAR}
		</if>
		
		<if test="params != null">
			and params =  #{params,jdbcType=VARCHAR}
		</if>

		order by id desc
	</select>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user_action_record
		where id = #{id,jdbcType=NUMERIC}
	</delete>
	<insert id="insert" parameterType="com.simi.po.model.user.UserActionRecord">
		insert into user_action_record (id, user_id, action_type,
		params, add_time)
		values (#{id,jdbcType=NUMERIC},
		#{userId,jdbcType=NUMERIC}, #{actionType,jdbcType=VARCHAR},
		#{params,jdbcType=VARCHAR}, #{addTime,jdbcType=NUMERIC})
	</insert>
	<insert id="insertSelective" parameterType="com.simi.po.model.user.UserActionRecord">
		insert into user_action_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="actionType != null">
				action_type,
			</if>
			<if test="params != null">
				params,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=NUMERIC},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=NUMERIC},
			</if>
			<if test="actionType != null">
				#{actionType,jdbcType=VARCHAR},
			</if>
			<if test="params != null">
				#{params,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.user.UserActionRecord">
		update user_action_record
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=NUMERIC},
			</if>
			<if test="actionType != null">
				action_type = #{actionType,jdbcType=VARCHAR},
			</if>
			<if test="params != null">
				params = #{params,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=NUMERIC},
			</if>
		</set>
		where id = #{id,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.simi.po.model.user.UserActionRecord">
		update user_action_record
		set user_id = #{userId,jdbcType=NUMERIC},
		action_type =
		#{actionType,jdbcType=VARCHAR},
		params = #{params,jdbcType=VARCHAR},
		add_time = #{addTime,jdbcType=NUMERIC}
		where id = #{id,jdbcType=NUMERIC}
	</update>
</mapper>