<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.user.UserRemindSendMapper" >
  <resultMap id="BaseResultMap" type="com.simi.po.model.user.UserRemindSend" >
    <id column="id" property="id" jdbcType="NUMERIC" />
    <result column="user_id" property="userId" jdbcType="NUMERIC" />
    <result column="mobile" property="mobile" jdbcType="CHAR" />
    <result column="remind_id" property="remindId" jdbcType="NUMERIC" />
    <result column="remind_type" property="remindType" jdbcType="NUMERIC" />
    <result column="job_name" property="jobName" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, mobile, remind_id, remind_type, job_name, add_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from user_remind_send
    where id = #{id,jdbcType=NUMERIC}
  </select>
  <select id="selectByMobile" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user_remind_send
    where mobile = #{mobile,jdbcType=VARCHAR}
  </select>
  <select id="queryByRemindId" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from user_remind_send
    where remind_id = #{remindId,jdbcType=NUMERIC} and remind_type = 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_remind_send
    where id = #{id,jdbcType=NUMERIC}
  </delete>
  <delete id="deleteByMap" parameterType="map"  >
    delete from user_remind_send
    where remind_id = #{remind_id}
    and mobile = #{mobile}
  </delete>
  <insert id="insert" parameterType="com.simi.po.model.user.UserRemindSend" >
    insert into user_remind_send (user_id, mobile,
      remind_id, remind_type, job_name, add_time
      )
    values ( #{userId,jdbcType=NUMERIC}, #{mobile,jdbcType=CHAR},
      #{remindId,jdbcType=NUMERIC}, #{remindType,jdbcType=NUMERIC},
      #{jobName,jdbcType=VARCHAR}, #{addTime,jdbcType=NUMERIC}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.simi.po.model.user.UserRemindSend" >
    insert into user_remind_send
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="remindId != null" >
        remind_id,
      </if>
      <if test="remindType != null" >
        remind_type,
      </if>
      <if test="jobName != null" >
        job_name,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=NUMERIC},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=CHAR},
      </if>
      <if test="remindId != null" >
        #{remindId,jdbcType=NUMERIC},
      </if>
      <if test="remindType != null" >
        #{remindType,jdbcType=NUMERIC},
      </if>
      <if test="jobName != null" >
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.user.UserRemindSend" >
    update user_remind_send
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=NUMERIC},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=CHAR},
      </if>
      <if test="remindId != null" >
        remind_id = #{remindId,jdbcType=NUMERIC},
      </if>
      <if test="remindType != null" >
        remind_type = #{remindType,jdbcType=NUMERIC},
      </if>
      <if test="jobName != null" >
        remind_type = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=NUMERIC},
      </if>
    </set>
    where id = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simi.po.model.user.UserRemindSend" >
    update user_remind_send
    set user_id = #{userId,jdbcType=NUMERIC},
      mobile = #{mobile,jdbcType=CHAR},
      remind_id = #{remindId,jdbcType=NUMERIC},
      remind_type = #{remindType,jdbcType=NUMERIC},
      job_name = #{jobName,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=NUMERIC}
    where id = #{id,jdbcType=NUMERIC}
  </update>
</mapper>