<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.user.UserRefSeniorMapper">
	<resultMap id="BaseResultMap" type="com.simi.po.model.user.UserRefSenior">
		<id column="id" property="id" jdbcType="NUMERIC" />
		<result column="user_id" property="userId" jdbcType="NUMERIC" />
		<result column="user_mobile" property="userMobile" jdbcType="CHAR" />
		<result column="senior_id" property="seniorId" jdbcType="NUMERIC" />
		<result column="add_time" property="addTime" jdbcType="NUMERIC" />
	</resultMap>

	<resultMap id="countBySeniorResultMap" type="java.util.HashMap">
		<result column="senior_id" property="seniorId" jdbcType="NUMERIC" />
		<result column="total_user" property="totalUser" jdbcType="NUMERIC" />
	</resultMap>

	<sql id="Base_Column_List">
		id, user_id, user_mobile, senior_id, add_time
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_ref_senior
		where id = #{id,jdbcType=NUMERIC}
	</select>

	<select id="selectByUserId" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_ref_senior
		where user_id = #{userId,jdbcType=NUMERIC}
	</select>

	<select id="selectBySeniorId" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_ref_senior
		where  sec_id = #{secId,jdbcType=NUMERIC}
	</select>

	<select id="selectByUserIdAndSenior" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_ref_senior
		where 1=1
	      <if test="userId != null" >
	        and user_id = #{userId,jdbcType=NUMERIC}
	      </if>
	      <if test="seniorId != null" >
	        and senior_id = #{seniorId,jdbcType=NUMERIC}
	      </if>
	</select>

	<select id="statBySeniorId" resultMap="countBySeniorResultMap" >
	    SELECT * FROM
			(select T1.id as senior_id,
			(CASE WHEN T2.total_user is null THEN 0 ELSE T2.total_user END) as total_user FROM
		(
			SELECT id FROM admin_account where role_id = 2) as T1
			left join
			(select
				senior_id, count(*) as total_user
				from user_ref_senior
				group by senior_id) as T2
			on T1.id = T2.senior_id
		) as T
		order by total_user asc
  	</select>
<!--根据searchVo查询userRefSenior  -->
  <select id="searchListByConditions" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from user_ref_senior
    where 1=1
      <if test="userMobile != null" >
       and user_mobile like CONCAT('%','${userMobile}','%' )
      </if>
    order by add_time desc
  </select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user_ref_senior
		where id = #{id,jdbcType=NUMERIC}
	</delete>

	<insert id="insert" parameterType="com.simi.po.model.user.UserRefSenior">
		insert into user_ref_senior (id, user_id, user_mobile,
		senior_id, add_time)
		values (#{id,jdbcType=NUMERIC}, #{userId,jdbcType=NUMERIC},
		#{userMobile,jdbcType=CHAR},
		#{seniorId,jdbcType=NUMERIC}, #{addTime,jdbcType=NUMERIC})
	</insert>

	<insert id="insertSelective" parameterType="com.simi.po.model.user.UserRefSenior">
		insert into user_ref_senior
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="userMobile != null">
				user_mobile,
			</if>
			<if test="seniorId != null">
				senior_id,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=NUMERIC},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=NUMERIC},
			</if>
			<if test="userMobile != null">
				#{userMobile,jdbcType=CHAR},
			</if>
			<if test="seniorId != null">
				#{seniorId,jdbcType=NUMERIC},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.user.UserRefSenior">
		update user_ref_senior
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=NUMERIC},
			</if>
			<if test="userMobile != null">
				user_mobile = #{userMobile,jdbcType=CHAR},
			</if>
			<if test="seniorId != null">
				senior_id = #{seniorId,jdbcType=NUMERIC},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=NUMERIC},
			</if>
		</set>
		where id = #{id,jdbcType=NUMERIC}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.simi.po.model.user.UserRefSenior">
		update user_ref_senior
		set user_id = #{userId,jdbcType=NUMERIC},
		user_mobile = #{userMobile,jdbcType=CHAR},
		senior_id = #{seniorId,jdbcType=NUMERIC},
		add_time = #{addTime,jdbcType=NUMERIC}
		where id = #{id,jdbcType=NUMERIC}
	</update>
</mapper>