<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.user.UserPayRefundsMapper" >
  <resultMap id="BaseResultMap" type="com.simi.po.model.user.UserPayRefunds" >
    <id column="id" property="id" jdbcType="NUMERIC" />
    <result column="user_id" property="userId" jdbcType="NUMERIC" />
    <result column="mobile" property="mobile" jdbcType="CHAR" />
    <result column="order_type" property="orderType" jdbcType="NUMERIC" />
    <result column="order_id" property="orderId" jdbcType="NUMERIC" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="order_money" property="orderMoney" jdbcType="DECIMAL" />
    <result column="order_pay" property="orderPay" jdbcType="DECIMAL" />
    <result column="trade_id" property="tradeId" jdbcType="VARCHAR" />
    <result column="trade_status" property="tradeStatus" jdbcType="VARCHAR" />
    <result column="post_params" property="postParams" jdbcType="VARCHAR" />
    <result column="refund_status" property="refundStatus" jdbcType="NUMERIC" />
    <result column="add_time" property="addTime" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, mobile, order_type, order_id, order_no, order_money, order_pay, trade_id, trade_status, post_params,
    refund_status, add_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from user_pay_refunds
    where id = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_pay_refunds
    where id = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.simi.po.model.user.UserPayRefunds" >
    insert into user_pay_refunds (id, user_id, mobile,
      order_type, order_id, order_no,
      order_money,order_pay,
      trade_id, trade_status, post_params,
      refund_status, add_time)
    values (#{id,jdbcType=NUMERIC}, #{userId,jdbcType=NUMERIC}, #{mobile,jdbcType=CHAR},
      #{orderType,jdbcType=NUMERIC}, #{orderId,jdbcType=NUMERIC}, #{orderNo,jdbcType=VARCHAR},
      #{orderMoney,jdbcType=DECIMAL}, #{orderPay,jdbcType=DECIMAL},
      #{tradeId,jdbcType=VARCHAR}, #{tradeStatus,jdbcType=VARCHAR}, #{postParams,jdbcType=VARCHAR},
      #{refundStatus,jdbcType=NUMERIC}, #{addTime,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.simi.po.model.user.UserPayRefunds" >
    insert into user_pay_refunds
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="orderMoney != null" >
        order_money,
      </if>
      <if test="orderPay != null" >
        order_pay,
      </if>
      <if test="tradeId != null" >
        trade_id,
      </if>
      <if test="tradeStatus != null" >
        trade_status,
      </if>
      <if test="postParams != null" >
        post_params,
      </if>
      <if test="refundStatus != null" >
        refund_status,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=NUMERIC},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=CHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=NUMERIC},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=NUMERIC},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderMoney != null" >
        #{orderMoney,jdbcType=DECIMAL},
      </if>
      <if test="orderPay != null" >
        #{orderPay,jdbcType=DECIMAL},
      </if>
      <if test="tradeId != null" >
        #{tradeId,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="postParams != null" >
        #{postParams,jdbcType=VARCHAR},
      </if>
      <if test="refundStatus != null" >
        #{refundStatus,jdbcType=NUMERIC},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.user.UserPayRefunds" >
    update user_pay_refunds
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=NUMERIC},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=CHAR},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=NUMERIC},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=NUMERIC},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderMoney != null" >
        order_money = #{orderMoney,jdbcType=DECIMAL},
      </if>
      <if test="orderPay != null" >
        order_pay = #{orderPay,jdbcType=DECIMAL},
      </if>
      <if test="tradeId != null" >
        trade_id = #{tradeId,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        trade_status = #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="postParams != null" >
        post_params = #{postParams,jdbcType=VARCHAR},
      </if>
      <if test="refundStatus != null" >
        refund_status = #{refundStatus,jdbcType=NUMERIC},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=NUMERIC},
      </if>
    </set>
    where id = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simi.po.model.user.UserPayRefunds" >
    update user_pay_refunds
    set user_id = #{userId,jdbcType=NUMERIC},
      mobile = #{mobile,jdbcType=CHAR},
      order_type = #{orderType,jdbcType=NUMERIC},
      order_id = #{orderId,jdbcType=NUMERIC},
      order_no = #{orderNo,jdbcType=VARCHAR},
      order_money = #{orderMoney,jdbcType=DECIMAL},
      order_pay = #{orderPay,jdbcType=DECIMAL},
      trade_id = #{tradeId,jdbcType=VARCHAR},
      trade_status = #{tradeStatus,jdbcType=VARCHAR},
      post_params = #{postParams,jdbcType=VARCHAR},
      is_sync = #{refundStatus,jdbcType=NUMERIC},
      add_time = #{addTime,jdbcType=NUMERIC}
    where id = #{id,jdbcType=NUMERIC}
  </update>
</mapper>