<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.resume.HrJobHunterMapper">
	<resultMap id="BaseResultMap" type="com.simi.po.model.resume.HrJobHunter">
		<id column="id" property="id" jdbcType="NUMERIC" />
		<result column="user_id" property="userId" jdbcType="NUMERIC" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="job_id" property="jobId" jdbcType="NUMERIC" />
		<result column="job_name" property="jobName" jdbcType="VARCHAR" />
		<result column="salary_id" property="salaryId" jdbcType="NUMERIC" />
		<result column="salary_name" property="salaryName" jdbcType="VARCHAR" />
		<result column="reward" property="reward" jdbcType="VARCHAR" />
		<result column="city_name" property="cityName" jdbcType="VARCHAR" />
		<result column="limit_day" property="limitDay" jdbcType="NUMERIC" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="job_res" property="jobRes" jdbcType="VARCHAR" />
		<result column="job_req" property="jobReq" jdbcType="VARCHAR" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="add_time" property="addTime" jdbcType="NUMERIC" />
		<result column="update_time" property="updateTime" jdbcType="NUMERIC" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, name, job_id, job_name, salary_id, salary_name, reward, city_name, limit_day, title, job_res, job_req, remarks,
		add_time, update_time
	</sql>


	<select id="selectByListPage" resultMap="BaseResultMap" parameterType="com.simi.vo.resume.ResumeChangeSearchVo">
		select
		<include refid="Base_Column_List" />
		from hr_job_hunter
		<include refid="bySearchVo" />
		order by update_time desc
	</select>

	<select id="selectBySearchVo" resultMap="BaseResultMap" parameterType="com.simi.vo.resume.ResumeChangeSearchVo">
		select
		<include refid="Base_Column_List" />
		from hr_job_hunter
		<include refid="bySearchVo" />
		order by update_time desc
	</select>
	
	<sql id="bySearchVo">
		where 1 = 1
		<if test="userId != null">
			and user_id = #{userId,jdbcType=NUMERIC}
		</if>
		
		<if test="jobId != null">
			and job_id = #{jobId,jdbcType=NUMERIC}
		</if>
		
		<if test="cityName != null">
			and city_name = #{cityName,jdbcType=VARCHAR}
		</if>

		<if test="limitDay != null">
			and limit_day = #{limitDay,jdbcType=NUMERIC}
		</if>
	
	</sql>



	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from hr_job_hunter
		where id = #{id,jdbcType=NUMERIC}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from hr_job_hunter
		where id = #{id,jdbcType=NUMERIC}
	</delete>
	<insert id="insert" parameterType="com.simi.po.model.resume.HrJobHunter">
		insert into hr_job_hunter (id, user_id, name, job_id, job_name, salary_id, salary_name,
		reward, city_name, limit_day,
		title, job_res, job_req,
		remarks,
		add_time, update_time
		)
		values (#{id,jdbcType=NUMERIC}, #{userId,jdbcType=NUMERIC}, #{name,jdbcType=VARCHAR},
		#{jobId,jdbcType=NUMERIC}, #{jobName,jdbcType=VARCHAR},
		#{salaryId,jdbcType=NUMERIC}, #{salaryName,jdbcType=VARCHAR},
		#{reward,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, #{limitDay,jdbcType=NUMERIC},
		#{title,jdbcType=VARCHAR}, #{jobRes,jdbcType=VARCHAR}, #{jobReq,jdbcType=VARCHAR},
		#{remarks,jdbcType=VARCHAR}, #{addTime,jdbcType=NUMERIC}, #{updateTime,jdbcType=NUMERIC}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.simi.po.model.resume.HrJobHunter">
		insert into hr_job_hunter
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="jobId != null">
				job_id,
			</if>
			<if test="jobName != null">
				job_name,
			</if>
			<if test="salaryId != null">
				salary_id,
			</if>
			<if test="salaryName != null">
				salary_name,
			</if>
			<if test="reward != null">
				reward,
			</if>
			<if test="cityName != null">
				city_name,
			</if>
			<if test="limitDay != null">
				limit_day,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="jobRes != null">
				job_res,
			</if>
			<if test="jobReq != null">
				job_req,
			</if>
			<if test="remarks != null">
				remarks,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=NUMERIC},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=NUMERIC},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="jobId != null">
				#{jobId,jdbcType=NUMERIC},
			</if>
			<if test="jobName != null">
				#{jobName,jdbcType=VARCHAR},
			</if>
			<if test="salaryId != null">
				#{salaryId,jdbcType=NUMERIC},
			</if>
			<if test="salaryName != null">
				#{salaryName,jdbcType=VARCHAR},
			</if>
			<if test="reward != null">
				#{reward,jdbcType=VARCHAR},
			</if>
			<if test="cityName != null">
				#{cityName,jdbcType=VARCHAR},
			</if>
			<if test="limitDay != null">
				#{limitDay,jdbcType=NUMERIC},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="jobRes != null">
				#{jobRes,jdbcType=VARCHAR},
			</if>
			<if test="jobReq != null">
				#{jobReq,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=NUMERIC},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.resume.HrJobHunter">
		update hr_job_hunter
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=NUMERIC},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="jobId != null">
				job_id = #{jobId,jdbcType=NUMERIC},
			</if>
			<if test="jobName != null">
				job_name = #{jobName,jdbcType=VARCHAR},
			</if>
			<if test="salaryId != null">
				salary_id = #{salaryId,jdbcType=NUMERIC},
			</if>
			<if test="salaryName != null">
				salary_name = #{salaryName,jdbcType=VARCHAR},
			</if>
			<if test="reward != null">
				reward = #{reward,jdbcType=VARCHAR},
			</if>
			<if test="cityName != null">
				city_name = #{cityName,jdbcType=VARCHAR},
			</if>
			<if test="limitDay != null">
				limit_day = #{limitDay,jdbcType=NUMERIC},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="jobRes != null">
				job_res = #{jobRes,jdbcType=VARCHAR},
			</if>
			<if test="jobReq != null">
				job_req = #{jobReq,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=NUMERIC},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=NUMERIC},
			</if>
		</set>
		where id = #{id,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.simi.po.model.resume.HrJobHunter">
		update hr_job_hunter
		set user_id = #{userId,jdbcType=NUMERIC},
		name = #{name,jdbcType=VARCHAR},
		job_id =
		#{jobId,jdbcType=NUMERIC},
		job_name = #{jobName,jdbcType=VARCHAR},
		salary_id = #{salaryId,jdbcType=NUMERIC},
		salary_name = #{salaryName,jdbcType=VARCHAR},
		reward = #{reward,jdbcType=VARCHAR},
		city_name = #{cityName,jdbcType=VARCHAR},
		limit_day =
		#{limitDay,jdbcType=NUMERIC},
		title = #{title,jdbcType=VARCHAR},
		job_res = #{jobRes,jdbcType=VARCHAR},
		job_req = #{jobReq,jdbcType=VARCHAR},
		remarks = #{remarks,jdbcType=VARCHAR},
		add_time = #{addTime,jdbcType=NUMERIC},
		update_time = #{updateTime,jdbcType=NUMERIC}
		where id = #{id,jdbcType=NUMERIC}
	</update>
</mapper>