<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.common.ImgsMapper">
	<resultMap id="BaseResultMap" type="com.simi.po.model.common.Imgs">
		<id column="img_id" property="imgId" jdbcType="NUMERIC" />
		<result column="user_id" property="userId" jdbcType="NUMERIC" />
		<result column="link_id" property="linkId" jdbcType="NUMERIC" />
		<result column="link_type" property="linkType" jdbcType="VARCHAR" />
		<result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
		<result column="add_time" property="addTime" jdbcType="NUMERIC" />
	</resultMap>
	<sql id="Base_Column_List">
		img_id, user_id, link_id, link_type, img_url, add_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from imgs
		where img_id = #{imgId,jdbcType=NUMERIC}
	</select>
	
	<select id="selectBySearchVo" resultMap="BaseResultMap" parameterType="com.simi.vo.UserLeaveSearchVo">
		select
		<include refid="Base_Column_List" />
		from imgs
		where 1=1
		<if test="imgId != null">
			and img_id = #{imgId,jdbcType=NUMERIC}
		</if>

		<if test="userId != null">
			and user_id = #{userId,jdbcType=NUMERIC}
		</if>
		
		<if test="linkId != null">
			and link_id = #{linkId,jdbcType=NUMERIC}
		</if>
		
		<if test="linkType != null">
			and link_type = #{linkType,jdbcType=VARCHAR}
		</if>

		order by add_time asc
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from imgs
		where img_id = #{imgId,jdbcType=NUMERIC}
	</delete>
	<insert id="insert" parameterType="com.simi.po.model.common.Imgs">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="imgId">
			SELECT LAST_INSERT_ID() AS img_id
		</selectKey>
		insert into imgs (img_id, user_id, link_id,
		link_type, img_url, add_time
		)
		values (#{imgId,jdbcType=NUMERIC}, #{userId,jdbcType=NUMERIC}, #{linkId,jdbcType=NUMERIC},
		#{linkType,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, #{addTime,jdbcType=NUMERIC}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.simi.po.model.common.Imgs">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="imgId">
			SELECT LAST_INSERT_ID() AS img_id
		</selectKey>
		insert into imgs
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="imgId != null">
				img_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="linkId != null">
				link_id,
			</if>
			<if test="linkType != null">
				link_type,
			</if>
			<if test="imgUrl != null">
				img_url,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="imgId != null">
				#{imgId,jdbcType=NUMERIC},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=NUMERIC},
			</if>
			<if test="linkId != null">
				#{linkId,jdbcType=NUMERIC},
			</if>
			<if test="linkType != null">
				#{linkType,jdbcType=VARCHAR},
			</if>
			<if test="imgUrl != null">
				#{imgUrl,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.common.Imgs">
		update imgs
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=NUMERIC},
			</if>
			<if test="linkId != null">
				link_id = #{linkId,jdbcType=NUMERIC},
			</if>
			<if test="linkType != null">
				link_type = #{linkType,jdbcType=VARCHAR},
			</if>
			<if test="imgUrl != null">
				img_url = #{imgUrl,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=NUMERIC},
			</if>
		</set>
		where img_id = #{imgId,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.simi.po.model.common.Imgs">
		update imgs
		set user_id = #{userId,jdbcType=NUMERIC},
		link_id = #{linkId,jdbcType=NUMERIC},
		link_type = #{linkType,jdbcType=VARCHAR},
		img_url = #{imgUrl,jdbcType=VARCHAR},
		add_time = #{addTime,jdbcType=NUMERIC}
		where img_id = #{imgId,jdbcType=NUMERIC}
	</update>
</mapper>