<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.promotion.ChannelLogMapper">
	<resultMap id="BaseResultMap"
		type="com.simi.po.model.promotion.ChannelLog">
		<id column="id" property="id" jdbcType="NUMERIC" />
		<result column="channel_id" property="channelId" jdbcType="NUMERIC" />
		<result column="channel_type" property="channelType" jdbcType="NUMERIC" />
		<result column="total_downloads" property="totalDownloads"
			jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="token" property="token" jdbcType="VARCHAR" />
		<result column="download_day" property="downloadDay" jdbcType="DATE" />
		<result column="add_time" property="addTime" jdbcType="NUMERIC" />
		<result column="update_time" property="updateTime" jdbcType="NUMERIC" />
	</resultMap>
	<sql id="Base_Column_List">
		id, channel_id, channel_type, total_downloads, name, token, download_day,
		add_time,
		update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from channel_log
		where id = #{id,jdbcType=NUMERIC}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from channel_log
		where id = #{id,jdbcType=NUMERIC}
	</delete>
	<insert id="insert" parameterType="com.simi.po.model.promotion.ChannelLog">
		insert into channel_log (id, channel_id, channel_type,
		total_downloads, name, token,
		download_day, add_time, update_time
		)
		values (#{id,jdbcType=NUMERIC}, #{channelId,jdbcType=NUMERIC},
		#{channelType,jdbcType=NUMERIC},
		#{totalDownloads,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR},
		#{downloadDay,jdbcType=DATE}, #{addTime,jdbcType=NUMERIC},
		#{updateTime,jdbcType=NUMERIC}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.simi.po.model.promotion.ChannelLog">
		insert into channel_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="channelId != null">
				channel_id,
			</if>
			<if test="channelType != null">
				channel_type,
			</if>
			<if test="totalDownloads != null">
				total_downloads,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="token != null">
				token,
			</if>
			<if test="downloadDay != null">
				download_day,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=NUMERIC},
			</if>
			<if test="channelId != null">
				#{channelId,jdbcType=NUMERIC},
			</if>
			<if test="channelType != null">
				#{channelType,jdbcType=NUMERIC},
			</if>
			<if test="totalDownloads != null">
				#{totalDownloads,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="token != null">
				#{token,jdbcType=VARCHAR},
			</if>
			<if test="downloadDay != null">
				#{downloadDay,jdbcType=DATE},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=NUMERIC},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.promotion.ChannelLog">
		update channel_log
		<set>
			<if test="channelId != null">
				channel_id = #{channelId,jdbcType=NUMERIC},
			</if>
			<if test="channelType != null">
				channel_type = #{channelType,jdbcType=NUMERIC},
			</if>
			<if test="totalDownloads != null">
				total_downloads = #{totalDownloads,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="token != null">
				token = #{token,jdbcType=VARCHAR},
			</if>
			<if test="downloadDay != null">
				download_day = #{downloadDay,jdbcType=DATE},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=NUMERIC},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=NUMERIC},
			</if>
		</set>
		where id = #{id,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.simi.po.model.promotion.ChannelLog">
		update channel_log
		set channel_id = #{channelId,jdbcType=NUMERIC},
		channel_type = #{channelType,jdbcType=NUMERIC},
		total_downloads = #{totalDownloads,jdbcType=INTEGER},
		name = #{name,jdbcType=VARCHAR},
		token = #{token,jdbcType=VARCHAR},
		download_day = #{downloadDay,jdbcType=DATE},
		add_time = #{addTime,jdbcType=NUMERIC},
		update_time = #{updateTime,jdbcType=NUMERIC}
		where id = #{id,jdbcType=NUMERIC}
	</update>
</mapper>