<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.dict.DictTradeMapper">
	<resultMap id="BaseResultMap" type="com.simi.po.model.dict.DictTrade">
		<id column="trade_id" property="tradeId" jdbcType="NUMERIC" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="NUMERIC" />
		<result column="add_time" property="addTime" jdbcType="NUMERIC" />
	</resultMap>
	<sql id="Base_Column_List">
		trade_id, name, parent_id, add_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from dict_trade
		where trade_id = #{tradeId,jdbcType=NUMERIC}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from dict_trade
		order by trade_id asc
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from dict_trade
		where trade_id = #{tradeId,jdbcType=NUMERIC}
	</delete>
	<insert id="insert" parameterType="com.simi.po.model.dict.DictTrade">
		insert into dict_trade (trade_id, name, parent_id,
		add_time)
		values (#{tradeId,jdbcType=NUMERIC}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=NUMERIC},
		#{addTime,jdbcType=NUMERIC})
	</insert>
	<insert id="insertSelective" parameterType="com.simi.po.model.dict.DictTrade">
		insert into dict_trade
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="tradeId != null">
				trade_id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="tradeId != null">
				#{tradeId,jdbcType=NUMERIC},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=NUMERIC},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.dict.DictTrade">
		update dict_trade
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=NUMERIC},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=NUMERIC},
			</if>
		</set>
		where trade_id = #{tradeId,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.simi.po.model.dict.DictTrade">
		update dict_trade
		set name = #{name,jdbcType=VARCHAR},
		parent_id = #{parentId,jdbcType=NUMERIC},
		add_time = #{addTime,jdbcType=NUMERIC}
		where trade_id = #{tradeId,jdbcType=NUMERIC}
	</update>
</mapper>