<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.dict.DictRegionMapper" >
  <resultMap id="BaseResultMap" type="com.simi.po.model.dict.DictRegion" >
    <id column="region_id" property="regionId" jdbcType="NUMERIC" />
    <result column="zip_code" property="zipCode" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="NUMERIC" />
    <result column="province_id" property="provinceId" jdbcType="NUMERIC" />
    <result column="is_enable" property="isEnable" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    region_id, zip_code, name, city_id, province_id, is_enable
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dict_region
    where region_id = #{regionId,jdbcType=NUMERIC}
  </select>
  
  <select id="selectByCityId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dict_region
    where city_id = #{cityId,jdbcType=NUMERIC}
  </select>
  
  <select id="selectByProvinceId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dict_region
    where province_id = #{provinceId,jdbcType=NUMERIC}
  </select>
  <select id="selectByCityIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
     from dict_region where city_id in
     <foreach item="item" index="index" collection="list" 
                    open="(" separator="," close=")">
                   #{item}
     </foreach>
 </select> 
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dict_region
    order by region_id asc
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dict_region
    where region_id = #{regionId,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.simi.po.model.dict.DictRegion" >
    insert into dict_region (region_id, zip_code, name, 
      city_id, province_id, is_enable
      )
    values (#{regionId,jdbcType=NUMERIC}, #{zipCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{cityId,jdbcType=NUMERIC}, #{provinceId,jdbcType=NUMERIC}, #{isEnable,jdbcType=NUMERIC}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.simi.po.model.dict.DictRegion" >
    insert into dict_region
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="regionId != null" >
        region_id,
      </if>
      <if test="zipCode != null" >
        zip_code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="isEnable != null" >
        is_enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="regionId != null" >
        #{regionId,jdbcType=NUMERIC},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=NUMERIC},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=NUMERIC},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.dict.DictRegion" >
    update dict_region
    <set >
      <if test="zipCode != null" >
        zip_code = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=NUMERIC},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=NUMERIC},
      </if>
      <if test="isEnable != null" >
        is_enable = #{isEnable,jdbcType=NUMERIC},
      </if>
    </set>
    where region_id = #{regionId,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simi.po.model.dict.DictRegion" >
    update dict_region
    set zip_code = #{zipCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=NUMERIC},
      province_id = #{provinceId,jdbcType=NUMERIC},
      is_enable = #{isEnable,jdbcType=NUMERIC}
    where region_id = #{regionId,jdbcType=NUMERIC}
  </update>
</mapper>