<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.weather.WeathersMapper">
	<resultMap id="BaseResultMap" type="com.simi.po.model.weather.Weathers">
		<id column="id" property="id" jdbcType="NUMERIC" />
		<result column="area_id" property="areaId" jdbcType="NUMERIC" />
		<result column="area_cn" property="areaCn" jdbcType="VARCHAR" />
		<result column="publish_time" property="publicTime" jdbcType="VARCHAR" />
		<result column="weather_day" property="weatherDay" jdbcType="VARCHAR" />
		<result column="weather_night" property="weatherNight" jdbcType="VARCHAR" />
		<result column="temp_day" property="tempDay" jdbcType="VARCHAR" />
		<result column="temp_night" property="tempNight" jdbcType="VARCHAR" />
		<result column="fx_day" property="fxDay" jdbcType="VARCHAR" />
		<result column="fx_night" property="fxNight" jdbcType="VARCHAR" />
		<result column="fl_day" property="flDay" jdbcType="VARCHAR" />
		<result column="fl_night" property="flNight" jdbcType="VARCHAR" />
		<result column="sun_rise_down" property="sunRiseDown" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, area_id, area_cn, publish_time, weather_day, weather_night, temp_day, temp_night,
		fx_day, fx_night, fl_day, fl_night, sun_rise_down
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from weathers
		where id = #{id,jdbcType=NUMERIC}
	</select>
	
	<select id="selectByAreaIdAndPublishTime" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from weathers
		where area_id = #{0} and publish_time = #{1}
	</select>
	
	<select id="selectByAreaId" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from weathers
		where area_id = #{areaId,jdbcType=NUMERIC}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from weathers
		where id = #{id,jdbcType=NUMERIC}
	</delete>
	<insert id="insert" parameterType="com.simi.po.model.weather.Weathers">
		insert into weathers (id, area_id, area_cn,
		publish_time, weather_day, weather_night,
		temp_day, temp_night, fx_day,
		fx_night, fl_day, fl_night,
		sun_rise_down)
		values (#{id,jdbcType=NUMERIC}, #{areaId,jdbcType=NUMERIC}, #{areaCn,jdbcType=VARCHAR},
		#{publicTime,jdbcType=VARCHAR}, #{weatherDay,jdbcType=VARCHAR}, #{weatherNight,jdbcType=VARCHAR},
		#{tempDay,jdbcType=VARCHAR}, #{tempNight,jdbcType=VARCHAR}, #{fxDay,jdbcType=VARCHAR},
		#{fxNight,jdbcType=VARCHAR}, #{flDay,jdbcType=VARCHAR}, #{flNight,jdbcType=VARCHAR},
		#{sunRiseDown,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.simi.po.model.weather.Weathers">
		insert into weathers
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="areaId != null">
				area_id,
			</if>
			<if test="areaCn != null">
				area_cn,
			</if>
			<if test="publicTime != null">
				publish_time,
			</if>
			<if test="weatherDay != null">
				weather_day,
			</if>
			<if test="weatherNight != null">
				weather_night,
			</if>
			<if test="tempDay != null">
				temp_day,
			</if>
			<if test="tempNight != null">
				temp_night,
			</if>
			<if test="fxDay != null">
				fx_day,
			</if>
			<if test="fxNight != null">
				fx_night,
			</if>
			<if test="flDay != null">
				fl_day,
			</if>
			<if test="flNight != null">
				fl_night,
			</if>
			<if test="sunRiseDown != null">
				sun_rise_down,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=NUMERIC},
			</if>
			<if test="areaId != null">
				#{areaId,jdbcType=NUMERIC},
			</if>
			<if test="areaCn != null">
				#{areaCn,jdbcType=VARCHAR},
			</if>
			<if test="publicTime != null">
				#{publicTime,jdbcType=VARCHAR},
			</if>
			<if test="weatherDay != null">
				#{weatherDay,jdbcType=VARCHAR},
			</if>
			<if test="weatherNight != null">
				#{weatherNight,jdbcType=VARCHAR},
			</if>
			<if test="tempDay != null">
				#{tempDay,jdbcType=VARCHAR},
			</if>
			<if test="tempNight != null">
				#{tempNight,jdbcType=VARCHAR},
			</if>
			<if test="fxDay != null">
				#{fxDay,jdbcType=VARCHAR},
			</if>
			<if test="fxNight != null">
				#{fxNight,jdbcType=VARCHAR},
			</if>
			<if test="flDay != null">
				#{flDay,jdbcType=VARCHAR},
			</if>
			<if test="flNight != null">
				#{flNight,jdbcType=VARCHAR},
			</if>
			<if test="sunRiseDown != null">
				#{sunRiseDown,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.weather.Weathers">
		update weathers
		<set>
			<if test="areaId != null">
				area_id = #{areaId,jdbcType=NUMERIC},
			</if>
			<if test="areaCn != null">
				area_cn = #{areaCn,jdbcType=VARCHAR},
			</if>
			<if test="publicTime != null">
				publish_time = #{publicTime,jdbcType=VARCHAR},
			</if>
			<if test="weatherDay != null">
				weather_day = #{weatherDay,jdbcType=VARCHAR},
			</if>
			<if test="weatherNight != null">
				weather_night = #{weatherNight,jdbcType=VARCHAR},
			</if>
			<if test="tempDay != null">
				temp_day = #{tempDay,jdbcType=VARCHAR},
			</if>
			<if test="tempNight != null">
				temp_night = #{tempNight,jdbcType=VARCHAR},
			</if>
			<if test="fxDay != null">
				fx_day = #{fxDay,jdbcType=VARCHAR},
			</if>
			<if test="fxNight != null">
				fx_night = #{fxNight,jdbcType=VARCHAR},
			</if>
			<if test="flDay != null">
				fl_day = #{flDay,jdbcType=VARCHAR},
			</if>
			<if test="flNight != null">
				fl_night = #{flNight,jdbcType=VARCHAR},
			</if>
			<if test="sunRiseDown != null">
				sun_rise_down = #{sunRiseDown,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.simi.po.model.weather.Weathers">
		update weathers
		set area_id = #{areaId,jdbcType=NUMERIC},
		area_cn = #{areaCn,jdbcType=VARCHAR},
		publish_time = #{publicTime,jdbcType=VARCHAR},
		weather_day = #{weatherDay,jdbcType=VARCHAR},
		weather_night = #{weatherNight,jdbcType=VARCHAR},
		temp_day = #{tempDay,jdbcType=VARCHAR},
		temp_night = #{tempNight,jdbcType=VARCHAR},
		fx_day = #{fxDay,jdbcType=VARCHAR},
		fx_night = #{fxNight,jdbcType=VARCHAR},
		fl_day = #{flDay,jdbcType=VARCHAR},
		fl_night = #{flNight,jdbcType=VARCHAR},
		sun_rise_down = #{sunRiseDown,jdbcType=VARCHAR}
		where id = #{id,jdbcType=NUMERIC}
	</update>
</mapper>