<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.op.AppHelpMapper" >
  <resultMap id="BaseResultMap" type="com.simi.po.model.op.AppHelp" >
    <id column="id" property="id" jdbcType="NUMERIC" />
    <result column="app_type" property="appType" jdbcType="VARCHAR" />
    <result column="action" property="action" jdbcType="VARCHAR" />
    <result column="goto_url" property="gotoUrl" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, app_type, action, goto_url, content, img_url, add_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from app_help
    where id = #{id,jdbcType=NUMERIC}
  </select>
  
   <select id="selectByAction" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from app_help
    where action = #{action,jdbcType=VARCHAR}
  </select>
  <select id="selectByListPage" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from app_help
    order by id asc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from app_help
    where id = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.simi.po.model.op.AppHelp" >
    insert into app_help (id, app_type, action, 
      goto_url, content, img_url, 
      add_time)
    values (#{id,jdbcType=NUMERIC}, #{appType,jdbcType=VARCHAR}, #{action,jdbcType=VARCHAR}, 
      #{gotoUrl,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.simi.po.model.op.AppHelp" >
    insert into app_help
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appType != null" >
        app_type,
      </if>
      <if test="action != null" >
        action,
      </if>
      <if test="gotoUrl != null" >
        goto_url,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="appType != null" >
        #{appType,jdbcType=VARCHAR},
      </if>
      <if test="action != null" >
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="gotoUrl != null" >
        #{gotoUrl,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.op.AppHelp" >
    update app_help
    <set >
      <if test="appType != null" >
        app_type = #{appType,jdbcType=VARCHAR},
      </if>
      <if test="action != null" >
        action = #{action,jdbcType=VARCHAR},
      </if>
      <if test="gotoUrl != null" >
        goto_url = #{gotoUrl,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=NUMERIC},
      </if>
    </set>
    where id = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simi.po.model.op.AppHelp" >
    update app_help
    set app_type = #{appType,jdbcType=VARCHAR},
      action = #{action,jdbcType=VARCHAR},
      goto_url = #{gotoUrl,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=NUMERIC}
    where id = #{id,jdbcType=NUMERIC}
  </update>
</mapper>