<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.op.OpChannelMapper">
	<resultMap id="BaseResultMap" type="com.simi.po.model.op.OpChannel">
		<id column="channel_id" property="channelId" jdbcType="NUMERIC" />
		<result column="no" property="No" jdbcType="NUMERIC" />
		<result column="app_type" property="appType" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="channel_position" property="channelPosition" jdbcType="VARCHAR" />
		<result column="enable" property="enable" jdbcType="NUMERIC" />
		<result column="add_time" property="addTime" jdbcType="NUMERIC" />
	</resultMap>
	<sql id="Base_Column_List">
		channel_id, no, app_type, name,channel_position, enable, add_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from op_channel
		where channel_id = #{channelId,jdbcType=NUMERIC}
	</select>
	<select id="selectByListPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from op_channel
		order by app_type asc, no asc, enable desc
	</select>
	<select id="selectByAppTypeAndPosition" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from op_channel where app_type = #{0} 
		and channel_position = #{1}
		and enable = 1
		order by no asc
	</select>
	
	<select id="selectByAppType" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from op_channel where app_type = #{appType,jdbcType=VARCHAR} and enable = 1
		order by channel_id asc
	</select>
	
	<select id="selectByAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from op_channel where enable = 1
		order by channel_id asc
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from op_channel
		where channel_id = #{channelId,jdbcType=NUMERIC}
	</delete>
	<insert id="insert" parameterType="com.simi.po.model.op.OpChannel">
		insert into op_channel (channel_id, no, app_type, name, channel_position,enable,
		add_time)
		values (#{channelId,jdbcType=NUMERIC}, #{No,jdbcType=NUMERIC}, #{appType,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
		#{channelPosition,jdbcType=VARCHAR},#{enable,jdbcType=NUMERIC},
		#{addTime,jdbcType=NUMERIC})
	</insert>
	<insert id="insertSelective" parameterType="com.simi.po.model.op.OpChannel">
		insert into op_channel
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="channelId != null">
				channel_id,
			</if>
			<if test="No != null">
				no,
			</if>
			<if test="appType != null">
				app_type,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="channelPosition != null">
				channel_position,
			</if>
			<if test="enable != null">
				enable,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="channelId != null">
				#{channelId,jdbcType=NUMERIC},
			</if>
			<if test="No != null">
				#{No,jdbcType=NUMERIC},
			</if>
			<if test="appType != null">
				#{appType,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="channelPosition != null">
				#{channelPosition,jdbcType=VARCHAR},
			</if>
			<if test="enable != null">
				#{enable,jdbcType=NUMERIC},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.op.OpChannel">
		update op_channel
		<set>
		    <if test="No != null">
				no = #{No,jdbcType=NUMERIC},
			</if>
			<if test="appType != null">
				app_type = #{appType,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="channelPosition != null">
				channel_position = #{channelPosition,jdbcType=VARCHAR},
			</if>
			<if test="enable != null">
				enable = #{enable,jdbcType=NUMERIC},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=NUMERIC},
			</if>
		</set>
		where channel_id = #{channelId,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.simi.po.model.op.OpChannel">
		update op_channel
		set no = #{No,jdbcType=NUMERIC},
		app_type = #{appType,jdbcType=VARCHAR},
		set name = #{name,jdbcType=VARCHAR},
		channel_position = #{channelPosition,jdbcType=VARCHAR},
		enable = #{enable,jdbcType=NUMERIC},
		add_time = #{addTime,jdbcType=NUMERIC}
		where channel_id = #{channelId,jdbcType=NUMERIC}
	</update>
</mapper>