<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.op.UserAppToolsMapper" >
  <resultMap id="BaseResultMap" type="com.simi.po.model.op.UserAppTools" >
    <id column="id" property="id" jdbcType="NUMERIC" />
    <result column="user_id" property="userId" jdbcType="NUMERIC" />
    <result column="t_id" property="tId" jdbcType="NUMERIC" />
    <result column="status" property="status" jdbcType="NUMERIC" />
    <result column="add_time" property="addTime" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, t_id, status, add_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_app_tools
    where id = #{id,jdbcType=NUMERIC}
  </select>
  <select id="selectByUserIdAndStatus" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_app_tools 
		where user_id = #{userId,jdbcType=NUMBER} and status = 0
		order by no asc
	</select>
	
	<select id="selectByUserIdAndStatusOne" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_app_tools 
		where user_id = #{userId,jdbcType=NUMBER} and status = 1
		order by no asc
	</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_app_tools
    where id = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.simi.po.model.op.UserAppTools" >
    insert into user_app_tools (id, user_id, t_id, 
      status, add_time)
    values (#{id,jdbcType=NUMERIC}, #{userId,jdbcType=NUMERIC}, #{tId,jdbcType=NUMERIC}, 
      #{status,jdbcType=NUMERIC}, #{addTime,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.simi.po.model.op.UserAppTools" >
    insert into user_app_tools
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="tId != null" >
        t_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=NUMERIC},
      </if>
      <if test="tId != null" >
        #{tId,jdbcType=NUMERIC},
      </if>
      <if test="status != null" >
        #{status,jdbcType=NUMERIC},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.op.UserAppTools" >
    update user_app_tools
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=NUMERIC},
      </if>
      <if test="tId != null" >
        t_id = #{tId,jdbcType=NUMERIC},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=NUMERIC},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=NUMERIC},
      </if>
    </set>
    where id = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simi.po.model.op.UserAppTools" >
    update user_app_tools
    set user_id = #{userId,jdbcType=NUMERIC},
      t_id = #{tId,jdbcType=NUMERIC},
      status = #{status,jdbcType=NUMERIC},
      add_time = #{addTime,jdbcType=NUMERIC}
    where id = #{id,jdbcType=NUMERIC}
  </update>
</mapper>