<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.xcloud.XcompanyBenzTimeMapper">
	<resultMap id="BaseResultMap" type="com.simi.po.model.xcloud.XcompanyBenzTime">
		<id column="id" property="id" jdbcType="NUMERIC" />
		<result column="company_id" property="companyId" jdbcType="NUMERIC" />
		<result column="benz_id" property="benzId" jdbcType="NUMERIC" />
		<result column="check_in" property="checkIn" jdbcType="VARCHAR" />
		<result column="check_out" property="checkOut" jdbcType="VARCHAR" />
		<result column="flexible_min" property="flexibleMin" jdbcType="SMALLINT" />
		<result column="add_time" property="addTime" jdbcType="NUMERIC" />
	</resultMap>
	<sql id="Base_Column_List">
		id, company_id, benz_id, check_in, check_out, flexible_min, add_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from xcompany_benz_time
		where id = #{id,jdbcType=NUMERIC}
	</select>
	<select id="selectByBenzId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from xcompany_benz_time
		where benz_id = #{benzId,jdbcType=NUMERIC}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from xcompany_benz_time
		where id = #{id,jdbcType=NUMERIC}
	</delete>
	<insert id="insert" parameterType="com.simi.po.model.xcloud.XcompanyBenzTime">
		insert into xcompany_benz_time (id, company_id, benz_id,
		check_in, check_out, flexible_min,
		add_time)
		values (#{id,jdbcType=NUMERIC}, #{companyId,jdbcType=NUMERIC}, #{benzId,jdbcType=NUMERIC},
		#{checkIn,jdbcType=VARCHAR}, #{checkOut,jdbcType=VARCHAR}, #{flexibleMin,jdbcType=SMALLINT},
		#{addTime,jdbcType=NUMERIC})
	</insert>
	<insert id="insertSelective" parameterType="com.simi.po.model.xcloud.XcompanyBenzTime">
		insert into xcompany_benz_time
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="companyId != null">
				company_id,
			</if>
			<if test="benzId != null">
				benz_id,
			</if>
			<if test="checkIn != null">
				check_in,
			</if>
			<if test="checkOut != null">
				check_out,
			</if>
			<if test="flexibleMin != null">
				flexible_min,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=NUMERIC},
			</if>
			<if test="companyId != null">
				#{companyId,jdbcType=NUMERIC},
			</if>
			<if test="benzId != null">
				#{benzId,jdbcType=NUMERIC},
			</if>
			<if test="checkIn != null">
				#{checkIn,jdbcType=VARCHAR},
			</if>
			<if test="checkOut != null">
				#{checkOut,jdbcType=VARCHAR},
			</if>
			<if test="flexibleMin != null">
				#{flexibleMin,jdbcType=SMALLINT},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.xcloud.XcompanyBenzTime">
		update xcompany_benz_time
		<set>
			<if test="companyId != null">
				company_id = #{companyId,jdbcType=NUMERIC},
			</if>
			<if test="benzId != null">
				benz_id = #{benzId,jdbcType=NUMERIC},
			</if>
			<if test="checkIn != null">
				check_in = #{checkIn,jdbcType=VARCHAR},
			</if>
			<if test="checkOut != null">
				check_out = #{checkOut,jdbcType=VARCHAR},
			</if>
			<if test="flexibleMin != null">
				flexible_min = #{flexibleMin,jdbcType=SMALLINT},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=NUMERIC},
			</if>
		</set>
		where id = #{id,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.simi.po.model.xcloud.XcompanyBenzTime">
		update xcompany_benz_time
		set company_id = #{companyId,jdbcType=NUMERIC},
		benz_id = #{benzId,jdbcType=NUMERIC},
		check_in = #{checkIn,jdbcType=VARCHAR},
		check_out = #{checkOut,jdbcType=VARCHAR},
		flexible_min = #{flexibleMin,jdbcType=SMALLINT},
		add_time = #{addTime,jdbcType=NUMERIC}
		where id = #{id,jdbcType=NUMERIC}
	</update>
</mapper>