<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.xcloud.XcompanyMapper">
	<resultMap id="BaseResultMap" type="com.simi.po.model.xcloud.Xcompany">
		<id column="company_id" property="companyId" jdbcType="NUMERIC" />
		<result column="company_type" property="companyType" jdbcType="NUMERIC" />
		<result column="company_name" property="companyName" jdbcType="VARCHAR" />
		<result column="short_name" property="shortName" jdbcType="VARCHAR" />
		<result column="company_size" property="companySize" jdbcType="NUMERIC" />
		<result column="company_trade" property="companyTrade" jdbcType="SMALLINT" />
		<result column="province_id" property="provinceId" jdbcType="NUMERIC" />
		<result column="city_id" property="cityId" jdbcType="NUMERIC" />
		<result column="region_id" property="regionId" jdbcType="NUMERIC" />
		<result column="latitude" property="latitude" jdbcType="VARCHAR" />
		<result column="longitude" property="longitude" jdbcType="VARCHAR" />
		<result column="poi_type" property="poiType" jdbcType="NUMERIC" />
		<result column="addr_name" property="addrName" jdbcType="VARCHAR" />
		<result column="addr" property="addr" jdbcType="VARCHAR" />
		<result column="invitation_code" property="invitationCode" jdbcType="CHAR" />
		<result column="qr_code" property="qrCode" jdbcType="CHAR" />
		<result column="link_man" property="linkMan" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="add_time" property="addTime" jdbcType="NUMERIC" />
		<result column="update_time" property="updateTime" jdbcType="NUMERIC" />
	</resultMap>
	<sql id="Base_Column_List">
		company_id, company_type, company_name, short_name, company_size, company_trade, province_id, city_id, region_id,
		latitude, longitude, poi_type,
		addr_name, addr, invitation_code, qr_code,
		link_man, email, add_time, update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from xcompany
		where company_id = #{companyId,jdbcType=NUMERIC}
	</select>

	<select id="selectByIds" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from xcompany
		where company_id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
		order by add_time asc
	</select>

	<select id="selectByListPage" resultMap="BaseResultMap" parameterType="com.simi.vo.xcloud.CompanySearchVo">
		select
		<include refid="Base_Column_List" />
		from xcompany
		where 1=1

		<if test="companyId != null">
			and company_id = #{companyId,jdbcType=NUMERIC}
		</if>

		<if test="companyName != null">
			and company_name = #{companyName,jdbcType=VARCHAR}
		</if>

		<if test="invitationCode != null">
			and invitation_code = #{invitationCode,jdbcType=VARCHAR}
		</if>

		<if test="startTime != null">
			<![CDATA[ and add_time >= #{startTime,jdbcType=NUMERIC} and add_time <= #{endTime,jdbcType=NUMERIC} ]]>
		</if>

		order by add_time desc
	</select>

	<select id="selectBySearchVo" resultMap="BaseResultMap" parameterType="com.simi.vo.xcloud.CompanySearchVo">
		select
		<include refid="Base_Column_List" />
		from xcompany
		where 1=1
		<if test="companyId != null">
			and company_id = #{companyId,jdbcType=NUMERIC}
		</if>

		<if test="companyName != null">
			and company_name = #{companyName,jdbcType=VARCHAR}
		</if>

		<if test="invitationCode != null">
			and invitation_code = #{invitationCode,jdbcType=VARCHAR}
		</if>

		<if test="startTime != null">
			<![CDATA[ and add_time >= #{startTime,jdbcType=NUMERIC} and add_time <= #{endTime,jdbcType=NUMERIC} ]]>
		</if>
		order by add_time desc
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from xcompany
		where company_id = #{companyId,jdbcType=NUMERIC}
	</delete>
	<insert id="insert" parameterType="com.simi.po.model.xcloud.Xcompany">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="companyId">
			SELECT LAST_INSERT_ID() AS company_id
		</selectKey>
		insert into xcompany (company_id, company_type, company_name, short_name, company_size,
		company_trade, province_id, city_id,
		region_id, latitude, longitude,
		poi_type, addr_name, addr,
		invitation_code, qr_code,
		link_man, email, add_time,
		update_time)
		values (#{companyId,jdbcType=NUMERIC},
		#{companyType,jdbcType=NUMERIC}, #{companyName,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, #{companySize,jdbcType=NUMERIC},
		#{companyTrade,jdbcType=SMALLINT}, #{provinceId,jdbcType=NUMERIC}, #{cityId,jdbcType=NUMERIC},
		#{regionId,jdbcType=NUMERIC}, #{latitude,jdbcType=VARCHAR},
		#{longitude,jdbcType=VARCHAR},
		#{poiType,jdbcType=NUMERIC}, #{addrName,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR},
		#{invitationCode,jdbcType=CHAR},
		#{qrCode,jdbcType=CHAR},
		#{linkMan,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
		#{addTime,jdbcType=NUMERIC},
		#{updateTime,jdbcType=NUMERIC})
	</insert>
	<insert id="insertSelective" parameterType="com.simi.po.model.xcloud.Xcompany">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="companyId">
			SELECT LAST_INSERT_ID() AS company_id
		</selectKey>

		insert into xcompany
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="companyId != null">
				company_id,
			</if>
			<if test="companyType != null">
				company_type,
			</if>
			<if test="companyName != null">
				company_name,
			</if>
			<if test="shortName != null">
				short_name,
			</if>
			<if test="companySize != null">
				company_size,
			</if>
			<if test="companyTrade != null">
				company_trade,
			</if>
			<if test="provinceId != null">
				province_id,
			</if>
			<if test="cityId != null">
				city_id,
			</if>
			<if test="regionId != null">
				region_id,
			</if>
			<if test="latitude != null">
				latitude,
			</if>
			<if test="longitude != null">
				longitude,
			</if>
			<if test="poiType != null">
				poi_type,
			</if>
			<if test="addrName != null">
				addr_name,
			</if>
			<if test="addr != null">
				addr,
			</if>
			<if test="invitationCode != null">
				invitation_code,
			</if>
			<if test="qrCode != null">
				qr_code,
			</if>
			<if test="linkMan != null">
				link_man,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="companyId != null">
				#{companyId,jdbcType=NUMERIC},
			</if>
			<if test="companyType != null">
				#{companyType,jdbcType=NUMERIC},
			</if>
			<if test="companyName != null">
				#{companyName,jdbcType=VARCHAR},
			</if>
			<if test="shortName != null">
				#{shrotName,jdbcType=VARCHAR},
			</if>
			<if test="companySize != null">
				#{companySize,jdbcType=NUMERIC},
			</if>
			<if test="companyTrade != null">
				#{companyTrade,jdbcType=SMALLINT},
			</if>
			<if test="provinceId != null">
				#{provinceId,jdbcType=NUMERIC},
			</if>
			<if test="cityId != null">
				#{cityId,jdbcType=NUMERIC},
			</if>
			<if test="regionId != null">
				#{regionId,jdbcType=NUMERIC},
			</if>
			<if test="latitude != null">
				#{latitude,jdbcType=VARCHAR},
			</if>
			<if test="longitude != null">
				#{longitude,jdbcType=VARCHAR},
			</if>
			<if test="poiType != null">
				#{poiType,jdbcType=NUMERIC},
			</if>
			<if test="addrName != null">
				#{addrName,jdbcType=VARCHAR},
			</if>
			<if test="addr != null">
				#{addr,jdbcType=VARCHAR},
			</if>
			<if test="invitationCode != null">
				#{invitationCode,jdbcType=CHAR},
			</if>
			<if test="qrCode != null">
				#{qrCode,jdbcType=CHAR},
			</if>
			<if test="linkMan != null">
				#{linkMan,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=NUMERIC},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.xcloud.Xcompany">
		update xcompany
		<set>
			<if test="companyName != null">
				company_name = #{companyName,jdbcType=VARCHAR},
			</if>
			<if test="companyType != null">
				company_type = #{companyType,jdbcType=NUMERIC},
			</if>
			<if test="shortName != null">
				short_name = #{shortName,jdbcType=VARCHAR},
			</if>
			<if test="companySize != null">
				company_size = #{companySize,jdbcType=NUMERIC},
			</if>
			<if test="companyTrade != null">
				company_trade = #{companyTrade,jdbcType=SMALLINT},
			</if>
			<if test="provinceId != null">
				province_id = #{provinceId,jdbcType=NUMERIC},
			</if>
			<if test="cityId != null">
				city_id = #{cityId,jdbcType=NUMERIC},
			</if>
			<if test="regionId != null">
				region_id = #{regionId,jdbcType=NUMERIC},
			</if>
			<if test="latitude != null">
				latitude = #{latitude,jdbcType=VARCHAR},
			</if>
			<if test="longitude != null">
				longitude = #{longitude,jdbcType=VARCHAR},
			</if>
			<if test="poiType != null">
				poi_type = #{poiType,jdbcType=NUMERIC},
			</if>
			<if test="addrName != null">
				addr_name = #{addrName,jdbcType=VARCHAR},
			</if>
			<if test="addr != null">
				addr = #{addr,jdbcType=VARCHAR},
			</if>
			<if test="invitationCode != null">
				invitation_code = #{invitationCode,jdbcType=CHAR},
			</if>
			<if test="qrCode != null">
				qr_code = #{qrCode,jdbcType=CHAR},
			</if>
			<if test="linkMan != null">
				link_man = #{linkMan,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=NUMERIC},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=NUMERIC},
			</if>
		</set>
		where company_id = #{companyId,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.simi.po.model.xcloud.Xcompany">
		update xcompany
		set company_type = #{companyType,jdbcType=NUMERIC},
		company_name =
		#{companyName,jdbcType=VARCHAR},
		short_name = #{shortName,jdbcType=VARCHAR},
		company_size = #{companySize,jdbcType=NUMERIC},
		company_trade =
		#{companyTrade,jdbcType=SMALLINT},
		province_id = #{provinceId,jdbcType=NUMERIC},
		city_id = #{cityId,jdbcType=NUMERIC},
		region_id = #{regionId,jdbcType=NUMERIC},
		latitude = #{latitude,jdbcType=VARCHAR},
		longitude = #{longitude,jdbcType=VARCHAR},
		poi_type = #{poiType,jdbcType=NUMERIC},
		addr_name =
		#{addrName,jdbcType=VARCHAR},
		addr = #{addr,jdbcType=VARCHAR},
		invitation_code
		= #{invitationCode,jdbcType=CHAR},
		qr_code = #{qrCode,jdbcType=CHAR},
		link_man =
		#{linkMan,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		add_time =
		#{addTime,jdbcType=NUMERIC},
		update_time = #{updateTime,jdbcType=NUMERIC}
		where
		company_id = #{companyId,jdbcType=NUMERIC}
	</update>
</mapper>