@font-face {
  font-family: 'Shojumaru';
  font-style: normal;
  font-weight: 400;
  src: local('Shojumaru'), local('Shojumaru-Regular'), url(../fonts/pYVcIM206l3F7GUKEvtB3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
}
