<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.partners.PartnerRefRegionMapper" >
  <resultMap id="BaseResultMap" type="com.simi.po.model.partners.PartnerRefRegion" >
    <result column="id" property="id" jdbcType="NUMERIC" />
    <result column="partner_id" property="partnerId" jdbcType="NUMERIC" />
    <result column="region_id" property="regionId" jdbcType="NUMERIC" />
    <result column="add_time" property="addTime" jdbcType="NUMERIC" />
  </resultMap>
    <sql id="Base_Column_List" >
    id, partner_id, region_id, add_time
  </sql>
  <select id="selectByPartnerId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from partner_ref_region
    where partner_id = #{partnerId,jdbcType=NUMERIC}
  </select>
  <insert id="insert" parameterType="com.simi.po.model.partners.PartnerRefRegion" >
    insert into partner_ref_region (id, partner_id, region_id, 
      add_time)
    values (#{id,jdbcType=NUMERIC}, #{partnerId,jdbcType=NUMERIC}, #{regionId,jdbcType=NUMERIC}, 
      #{addTime,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.simi.po.model.partners.PartnerRefRegion" >
    insert into partner_ref_region
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="partnerId != null" >
        partner_id,
      </if>
      <if test="regionId != null" >
        region_id,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="partnerId != null" >
        #{partnerId,jdbcType=NUMERIC},
      </if>
      <if test="regionId != null" >
        #{regionId,jdbcType=NUMERIC},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <!--根据partnerId删除-->
  <delete id="deleteByPartnerId"  parameterType="java.lang.Long" >
    delete from partner_ref_region
    where partner_id = #{partnerId,jdbcType=NUMERIC}
  </delete>
</mapper>