<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.partners.PartnersMapper">
	<resultMap id="BaseResultMap" type="com.simi.po.model.partners.Partners">
		<id column="partner_id" property="partnerId" jdbcType="NUMERIC" />
		<id column="user_id" property="userId" jdbcType="NUMERIC" />
		<id column="spider_partner_id" property="spiderPartnerId" jdbcType="NUMERIC" />
		<result column="company_name" property="companyName" jdbcType="VARCHAR" />
		<result column="register_type" property="registerType" jdbcType="NUMERIC" />
		<result column="short_name" property="shortName" jdbcType="VARCHAR" />
		<result column="register_time" jdbcType="DATE" property="registerTime" javaType="java.util.Date" />
		<result column="addr" property="addr" jdbcType="VARCHAR" />

		<result column="credit_file_url" property="creditFileUrl" jdbcType="VARCHAR" />
		<result column="website" property="website" jdbcType="VARCHAR" />
		<result column="spider_url" property="spiderUrl" jdbcType="VARCHAR" />
		<result column="service_area" property="serviceArea" jdbcType="VARCHAR" />
		<result column="service_type" property="serviceType" jdbcType="VARCHAR" />
		<result column="company_desc" property="companyDesc" jdbcType="VARCHAR" />
		<result column="company_desc_img" property="companyDescImg" jdbcType="VARCHAR" />
		<result column="company_size" property="companySize" jdbcType="SMALLINT" />
		<result column="company_logo" property="companyLogo" jdbcType="VARCHAR" />
		<result column="is_door" property="isDoor" jdbcType="NUMERIC" />
		<result column="keywords" property="keywords" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="NUMERIC" />
		<result column="status_remark" property="statusRemark" jdbcType="VARCHAR" />
		<result column="business_desc" property="businessDesc" jdbcType="VARCHAR" />
		<result column="weixin" property="weixin" jdbcType="VARCHAR" />
		<result column="qq" property="qq" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="province_id" property="provinceId" jdbcType="NUMERIC" />
		<result column="city_id" property="cityId" jdbcType="NUMERIC" />
		<result column="is_cooperate" property="isCooperate" jdbcType="NUMERIC" />
		<result column="fax" property="fax" jdbcType="VARCHAR" />
		<result column="pay_type" property="payType" jdbcType="NUMERIC" />
		<result column="discout" property="discout" jdbcType="DECIMAL" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="add_time" property="addTime" jdbcType="NUMERIC" />
		<result column="admin_id" property="adminId" jdbcType="NUMERIC" />
		<result column="update_time" property="updateTime" jdbcType="NUMERIC" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.simi.po.model.partners.Partners" extends="BaseResultMap">
		<result column="business_desc" property="businessDesc" jdbcType="LONGVARCHAR" />
		<result column="company_desc" property="companyDesc" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">

		partner_id, user_id, spider_partner_id, company_name, register_type,short_name,register_time,company_desc_img,
		addr,credit_file_url,website,spider_url,company_size, company_logo, is_door, keywords,
		status, status_remark, weixin, qq, email, province_id, city_id,
		is_cooperate, fax,
		pay_type, discout, remark, add_time, admin_id, update_time
	</sql>
	<sql id="Blob_Column_List">
		business_desc,company_desc
	</sql>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from partners
		where partner_id = #{partnerId,jdbcType=NUMERIC}
	</select>

	<!-- 多条件查询查询服务商 -->
	<select id="selectBySearchVo" resultMap="BaseResultMap" parameterType="com.simi.vo.partners.PartnersSearchVo">
		select
		<include refid="Base_Column_List" />
		from partners
		where 1=1
		
		<if test="userId != null">
			and user_id = #{userId,jdbcType=NUMERIC}
		</if>
		
		<if test="companyName != null">
			and company_name like CONCAT('%','${companyName}','%' )
		</if>
		<if test="shortName != null">
			and short_name like CONCAT('%','${shortName}','%' )
		</if>
		<if test="status != null">
			and status = #{status,jdbcType=NUMERIC}
		</if>
		<if test="companySize != null">
			and company_size = #{companySize,jdbcType=NUMERIC}
		</if>
		<if test="isCooperate != null">
			and is_cooperate = #{isCooperate,jdbcType=NUMERIC}
		</if>
		
		<if test="spiderPartnerId != null">
			and spider_partner_id = #{spiderPartnerId,jdbcType=NUMERIC}
		</if>
		
		<if test="spiderPartnerIds != null">
			and spider_partner_id in
			<foreach item="item" index="index" collection="spiderPartnerIds" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		order by add_time desc
	</select>
	
	<!-- 多条件查询查询服务商 -->
	<select id="selectByListPage" resultMap="BaseResultMap" parameterType="com.simi.vo.partners.PartnersSearchVo">
		select
		<include refid="Base_Column_List" />
		from partners
		where 1=1
		<if test="companyName != null">
			and company_name like CONCAT('%','${companyName}','%' )
		</if>
		<if test="shortName != null">
			and short_name like CONCAT('%','${shortName}','%' )
		</if>
		<if test="status != null">
			and status = #{status,jdbcType=NUMERIC}
		</if>
		<if test="companySize != null">
			and company_size = #{companySize,jdbcType=NUMERIC}
		</if>
		<if test="isCooperate != null">
			and is_cooperate = #{isCooperate,jdbcType=NUMERIC}
		</if>
		
		<if test="spiderPartnerId != null">
			and spider_partner_id = #{spiderPartnerId,jdbcType=NUMERIC}
		</if>
		
		<if test="spiderPartnerIds != null">
			and spider_partner_id in
			<foreach item="item" index="index" collection="spiderPartnerIds" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		
		order by add_time desc
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from partners
		where partner_id = #{partnerId,jdbcType=NUMERIC}
	</delete>
	<insert id="insert" parameterType="com.simi.po.model.partners.Partners">

		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="partnerId">
			SELECT LAST_INSERT_ID() AS partner_id
		</selectKey>


		insert into partners (partner_id, user_id, spider_partner_id,company_name, register_type,short_name, register_time,addr,
		credit_file_url,website,spider_url,service_area,service_type,company_desc,company_desc_img,
		company_size, company_logo, is_door,
		keywords, status,
		status_remark,
		weixin, qq, email,
		province_id, city_id, is_cooperate,
		fax, pay_type, discout,
		remark, add_time, admin_id,
		update_time, business_desc)
		values
		(#{partnerId,jdbcType=NUMERIC}, #{userId,jdbcType=NUMERIC}, #{spiderPartnerId,jdbcType=NUMERIC}, #{companyName,jdbcType=VARCHAR},
		#{registerType,jdbcType=NUMERIC},#{shortName,jdbcType=VARCHAR},
		#{registerTime,jdbcType=DATE}, #{addr,jdbcType=VARCHAR},
		#{creditFileUrl,jdbcType=VARCHAR},#{website,jdbcType=VARCHAR},#{spiderUrl,jdbcType=VARCHAR},#{serviceArea,jdbcType=VARCHAR},
		#{serviceType,jdbcType=VARCHAR},#{companyDesc,jdbcType=LONGVARCHAR},#{companyDescImg,jdbcType=VARCHAR},
		#{companySize,jdbcType=SMALLINT},
		#{companyLogo,jdbcType=VARCHAR}, #{isDoor,jdbcType=NUMERIC},
		#{keywords,jdbcType=VARCHAR}, #{status,jdbcType=NUMERIC}, #{statusRemark,jdbcType=VARCHAR},
		#{weixin,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
		#{provinceId,jdbcType=NUMERIC}, #{cityId,jdbcType=NUMERIC},
		#{isCooperate,jdbcType=NUMERIC},
		#{fax,jdbcType=VARCHAR}, #{payType,jdbcType=NUMERIC}, #{discout,jdbcType=DECIMAL},
		#{remark,jdbcType=VARCHAR},
		#{addTime,jdbcType=NUMERIC}, #{adminId,jdbcType=NUMERIC},
		#{updateTime,jdbcType=NUMERIC}, #{businessDesc,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" useGeneratedKeys="true" keyProperty="partnerId" parameterType="com.simi.po.model.partners.Partners">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="partnerId">
			SELECT LAST_INSERT_ID() AS partner_id
		</selectKey>

		insert into partners
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="partnerId != null">
				partner_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="spiderPartnerId != null">
				spider_partner_id,
			</if>
			<if test="companyName != null">
				company_name,
			</if>
			<if test="registerType != null">
				register_type,
			</if>
			<if test="shortName != null">
				short_name,
			</if>
			<if test="addr != null">
				addr,
			</if>
			<if test="registerTime != null">
				register_time,
			</if>
			<if test="creditFileUrl != null">
				credit_file_url,
			</if>
			<if test="website != null">
				website,
			</if>
			<if test="spiderUrl != null">
				spider_url,
			</if>
			<if test="serviceArea != null">
				service_area,
			</if>
			<if test="serviceType != null">
				service_type,
			</if>
			<if test="companyDesc != null">
				company_desc,
			</if>
			<if test="companyDescImg != null">
				company_desc_img,
			</if>
			<if test="companySize != null">
				company_size,
			</if>
			<if test="companyLogo != null">
				company_logo,
			</if>
			<if test="isDoor != null">
				is_door,
			</if>
			<if test="keywords != null">
				keywords,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="statusRemark != null">
				status_remark,
			</if>
			<if test="weixin != null">
				weixin,
			</if>
			<if test="qq != null">
				qq,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="provinceId != null">
				province_id,
			</if>
			<if test="cityId != null">
				city_id,
			</if>
			<if test="isCooperate != null">
				is_cooperate,
			</if>
			<if test="fax != null">
				fax,
			</if>
			<if test="payType != null">
				pay_type,
			</if>
			<if test="discout != null">
				discout,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="adminId != null">
				admin_id,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="businessDesc != null">
				business_desc,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="partnerId != null">
				#{partnerId,jdbcType=NUMERIC},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=NUMERIC},
			</if>
			<if test="spiderPartnerId != null">
				#{spiderPartnerId,jdbcType=NUMERIC},
			</if>
			<if test="companyName != null">
				#{companyName,jdbcType=VARCHAR},
			</if>
			<if test="registerType != null">
				#{registerType,jdbcType=NUMERIC},
			</if>
			<if test="shortName != null">
				#{shortName,jdbcType=VARCHAR},
			</if>


			<if test="addr != null">
				#{addr,jdbcType=VARCHAR},
			</if>
			<if test="registerTime != null">
				#{registerTime,jdbcType=DATE},
			</if>
			<if test="creditFileUrl != null">
				#{creditFileUrl,jdbcType=VARCHAR},
			</if>
			<if test="website != null">
				#{website,jdbcType=VARCHAR},
			</if>
			<if test="spiderUrl != null">
				#{spiderUrl,jdbcType=VARCHAR},
			</if>
			<if test="serviceArea != null">
				#{serviceArea,jdbcType=VARCHAR},
			</if>
			<if test="serviceType != null">
				#{serviceType,jdbcType=VARCHAR},
			</if>
			<if test="companyDesc != null">
				#{companyDesc,jdbcType=LONGVARCHAR},
			</if>
			<if test="companyDescImg != null">
				#{companyDescImg,jdbcType=VARCHAR},
			</if>
			<if test="companySize != null">
				#{companySize,jdbcType=SMALLINT},
			</if>
			<if test="companyLogo != null">
				#{companyLogo,jdbcType=VARCHAR},
			</if>
			<if test="isDoor != null">
				#{isDoor,jdbcType=NUMERIC},
			</if>
			<if test="keywords != null">
				#{keywords,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=NUMERIC},
			</if>
			<if test="statusRemark != null">
				#{statusRemark,jdbcType=VARCHAR},
			</if>
			<if test="weixin != null">
				#{weixin,jdbcType=VARCHAR},
			</if>
			<if test="qq != null">
				#{qq,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="provinceId != null">
				#{provinceId,jdbcType=NUMERIC},
			</if>
			<if test="cityId != null">
				#{cityId,jdbcType=NUMERIC},
			</if>
			<if test="isCooperate != null">
				#{isCooperate,jdbcType=NUMERIC},
			</if>
			<if test="fax != null">
				#{fax,jdbcType=VARCHAR},
			</if>
			<if test="payType != null">
				#{payType,jdbcType=NUMERIC},
			</if>
			<if test="discout != null">
				#{discout,jdbcType=DECIMAL},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=NUMERIC},
			</if>
			<if test="adminId != null">
				#{adminId,jdbcType=NUMERIC},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=NUMERIC},
			</if>
			<if test="businessDesc != null">
				#{businessDesc,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.partners.Partners">
		update partners
		<set>
		    <if test="userId != null">
				user_id = #{userId,jdbcType=NUMERIC},
			</if>
			<if test="spiderPartnerId != null">
				spider_partner_id = #{spiderPartnerId,jdbcType=NUMERIC},
			</if>
			<if test="companyName != null">
				company_name = #{companyName,jdbcType=VARCHAR},
			</if>
			<if test="registerType != null">
				register_type = #{registerType,jdbcType=NUMERIC},
			</if>
			<if test="shortName != null">
				short_name = #{shortName,jdbcType=VARCHAR},
			</if>
			<if test="addr != null">
				addr = #{addr,jdbcType=VARCHAR},
			</if>
			<if test="registerTime != null">
				register_time = #{registerTime,jdbcType=DATE},
			</if>
			<if test="creditFileUrl != null">
				credit_file_url = #{creditFileUrl,jdbcType=VARCHAR},
			</if>
			<if test="website != null">
				website = #{website,jdbcType=VARCHAR},
			</if>
			<if test="spiderUrl != null">
				spider_url = #{spiderUrl,jdbcType=VARCHAR},
			</if>
			<if test="serviceArea != null">
				service_area = #{serviceArea,jdbcType=VARCHAR},
			</if>
			<if test="serviceType != null">
				service_type = #{serviceType,jdbcType=VARCHAR},
			</if>
			<if test="companyDesc != null">
				company_desc = #{companyDesc,jdbcType=VARCHAR},
			</if>
			<if test="companyDescImg != null">
				company_desc_img = #{companyDescImg,jdbcType=LONGVARCHAR},
			</if>
			<if test="companySize != null">
				company_size = #{companySize,jdbcType=SMALLINT},
			</if>
			<if test="companyLogo != null">
				company_logo = #{companyLogo,jdbcType=VARCHAR},
			</if>
			<if test="isDoor != null">
				is_door = #{isDoor,jdbcType=NUMERIC},
			</if>
			<if test="keywords != null">
				keywords = #{keywords,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=NUMERIC},
			</if>
			<if test="statusRemark != null">
				status_remark = #{statusRemark,jdbcType=VARCHAR},
			</if>
			<if test="weixin != null">
				weixin = #{weixin,jdbcType=VARCHAR},
			</if>
			<if test="qq != null">
				qq = #{qq,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="provinceId != null">
				province_id = #{provinceId,jdbcType=NUMERIC},
			</if>
			<if test="cityId != null">
				city_id = #{cityId,jdbcType=NUMERIC},
			</if>
			<if test="isCooperate != null">
				is_cooperate = #{isCooperate,jdbcType=NUMERIC},
			</if>
			<if test="fax != null">
				fax = #{fax,jdbcType=VARCHAR},
			</if>
			<if test="payType != null">
				pay_type = #{payType,jdbcType=NUMERIC},
			</if>
			<if test="discout != null">
				discout = #{discout,jdbcType=DECIMAL},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=NUMERIC},
			</if>
			<if test="adminId != null">
				admin_id = #{adminId,jdbcType=NUMERIC},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=NUMERIC},
			</if>
			<if test="businessDesc != null">
				business_desc = #{businessDesc,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where partner_id = #{partnerId,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.simi.po.model.partners.Partners">
		update partners
		set
		user_id = #{userId,jdbcType=NUMERIC},
		spider_partner_id = #{spiderPartnerId,jdbcType=NUMERIC},
		company_name =
		#{companyName,jdbcType=VARCHAR},
		register_type = #{registerType,jdbcType=NUMERIC},
		short_name = #{shortName,jdbcType=VARCHAR},
		register_time =
		#{registerTime,jdbcType=DATE},

		addr = #{addr,jdbcType=VARCHAR},

		credit_file_url = #{creditFileUrl,jdbcType=VARCHAR},
		website = #{website,jdbcType=VARCHAR},
		spider_url = #{spiderUrl,jdbcType=VARCHAR},
		service_area = #{serviceArea,jdbcType=VARCHAR},
		service_type = #{serviceType,jdbcType=VARCHAR},
		company_desc =
		#{companyDesc,jdbcType=LONGVARCHAR},
		company_desc_img = #{companyDescImg,jdbcType=VARCHAR},

		company_size = #{companySize,jdbcType=SMALLINT},
		company_logo =
		#{companyLogo,jdbcType=VARCHAR},
		is_door = #{isDoor,jdbcType=NUMERIC},
		keywords = #{keywords,jdbcType=VARCHAR},
		status = #{status,jdbcType=NUMERIC},
		status_remark = #{statusRemark,jdbcType=VARCHAR},
		weixin = #{weixin,jdbcType=VARCHAR},
		qq = #{qq,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		province_id = #{provinceId,jdbcType=NUMERIC},
		city_id = #{cityId,jdbcType=NUMERIC},
		is_cooperate = #{isCooperate,jdbcType=NUMERIC},
		fax =
		#{fax,jdbcType=VARCHAR},
		pay_type = #{payType,jdbcType=NUMERIC},
		discout = #{discout,jdbcType=DECIMAL},
		remark = #{remark,jdbcType=VARCHAR},
		add_time =
		#{addTime,jdbcType=NUMERIC},
		admin_id = #{adminId,jdbcType=NUMERIC},
		update_time = #{updateTime,jdbcType=NUMERIC},
		business_desc =
		#{businessDesc,jdbcType=LONGVARCHAR}
		where partner_id = #{partnerId,jdbcType=NUMERIC}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.simi.po.model.partners.Partners">
		update partners
		set
		user_id = #{userId,jdbcType=NUMERIC},
		spider_partner_id = #{spiderPartnerId,jdbcType=NUMERIC},
		company_name =
		#{companyName,jdbcType=VARCHAR},
		register_type = #{registerType,jdbcType=NUMERIC},
		short_name = #{shortName,jdbcType=VARCHAR},
		register_time =
		#{registerTime,jdbcType=DATE},

		addr = #{addr,jdbcType=VARCHAR},
		credit_file_url = #{creditFileUrl,jdbcType=VARCHAR},
		website = #{website,jdbcType=VARCHAR},
		spider_url = #{spiderUrl,jdbcType=VARCHAR},
		service_area = #{serviceArea,jdbcType=VARCHAR},
		service_type = #{serviceType,jdbcType=VARCHAR},
		company_desc =
		#{companyDesc,jdbcType=LONGVARCHAR},
		company_desc_img = #{companyDescImg,jdbcType=VARCHAR},
		company_size = #{companySize,jdbcType=SMALLINT},
		company_logo =
		#{companyLogo,jdbcType=VARCHAR},
		is_door = #{isDoor,jdbcType=NUMERIC},
		keywords = #{keywords,jdbcType=VARCHAR},
		status = #{status,jdbcType=NUMERIC},
		status_remark = #{statusRemark,jdbcType=VARCHAR},
		weixin = #{weixin,jdbcType=VARCHAR},
		qq = #{qq,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		province_id = #{provinceId,jdbcType=NUMERIC},
		city_id = #{cityId,jdbcType=NUMERIC},
		is_cooperate = #{isCooperate,jdbcType=NUMERIC},
		fax =
		#{fax,jdbcType=VARCHAR},
		pay_type = #{payType,jdbcType=NUMERIC},
		discout = #{discout,jdbcType=DECIMAL},
		remark = #{remark,jdbcType=VARCHAR},
		add_time =
		#{addTime,jdbcType=NUMERIC},
		admin_id = #{adminId,jdbcType=NUMERIC},
		update_time = #{updateTime,jdbcType=NUMERIC}
		where partner_id =
		#{partnerId,jdbcType=NUMERIC}
	</update>
</mapper>